@implements IDisposable

<div class="@BlockOverlayClass"
	 @oncontextmenu:preventDefault
	 @oncontextmenu="() => { }">

	@if (Html != null)
	{
		<div class="text-container">
			<div class="text-box">
				@((MarkupString)Html)
			</div>
		</div>
	}

</div>