.btn.disabled,
.btn:disabled
{
	pointer-events: auto;
	cursor: default;
}

.pd-button .icon
{
	vertical-align: middle;
}

.pd-button > span
{
	line-height: 1.5;	/* Match bootstrap line-height (unit-less) so that buttons with icons only maintain the correct height */
}