<div class="@GetCssClass()">
    @if(IsBusy)
    {
        <div class="overlay-content">
            @if(OverlayContent is null)
            {
                <i class="@OverlayCssClass"></i>
            }
            else
            {
                @OverlayContent
            }
        </div>
    }
    @ChildContent
</div>