.busy-overlay {
    background-color: rgba(0,0,0,0.3);
    cursor: wait;
    height: 100%;
    left: 0px;
    overflow-x: hidden;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 2000; /* in font of modal dialogs (1050)*/
}

.busy-overlay.hide {
    display: none;
}

.busy-overlay.show {
    align-items: center;
    display: none;
    display: flex;
    justify-content: center;
}
