@inherits PDComponentBase
@typeparam TCard

<div @attributes=@GetAttributes()>
	@if (!AllDataLoaded())
    {
        <PDCardDeckLoadingIcon @ref="_loadingIcon" />
    }

    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>
