@inherits PDComponentBase
@typeparam TCard

<div @attributes="GetDeckAttributes()" ondragover="event.preventDefault();">
    @foreach (var card in _cards)
    {
        @if (_dragTarget?.Equals(card) == true && _dropAbove)
        {
            <div @attributes="GetDropAreaAttributes()">
                @if (DropAreaTemplate != null)
                {
                    @DropAreaTemplate
                }
            </div>
        }
        <div @attributes="GetCardAttributes(card)">
            @if (CardTemplate is null)
            {
                <span>@(card!.ToString())</span>
            }
            else
            {
                @CardTemplate(card)
            }
        </div>
        @if (_dragTarget?.Equals(card) == true && !_dropAbove)
        {
            <div @attributes="GetDropAreaAttributes()">
                @if (DropAreaTemplate != null)
                {
                    @DropAreaTemplate
                }
            </div>
        }
    }
</div>