@if (IsActive)
{
	<div class="pd-carddeck-loading">
		<div class="loading-card pd-carddeck-item-top"></div>
		<div class="loading-card pd-carddeck-item-bottom"></div>
		<div class="loading-card"></div>

		<div class="loading-message">
			Loading Data... (current elapsed time @_currentLoadTime seconds)

		</div>
	</div>
}

