.card {
	min-height: 2em;
}

.card-default {
	margin-bottom: 5px;
	border-left: 5px solid silver;
	padding: 5px;
	user-select: none;
}

	/*Indicate to the user the card not draggable*/
	.card[draggable="false"] {
		cursor: not-allowed !important;
	}

	/*Indicate to the user the card is draggable*/
	.card[draggable="true"] {
		cursor: grab;
	}

		.card[draggable="true"]:active,
		.dragging {
			cursor: grabbing;
			opacity: 0.2;
		}

.selected {
	background-color: #d1ecf1 !important;
}

.card[draggable="true"]:hover {
	background-color: #e9ecef;
}
