@inherits PDComponentBase
@typeparam TItem

<div @attributes="GetDeckAttributes()" ondragover="event.preventDefault();">
    @foreach(var item in Items)
    {
        @if (_dragTarget?.Equals(item) == true && _dropAbove)
        {
            <div @attributes="GetDropAreaAttributes()">
                @if (DropAreaTemplate != null)
                {
                    @DropAreaTemplate
                }
            </div>
        }
        <div @attributes="GetCardAttributes(item)">
            @if (CardTemplate is null)
            {
                <span>@(item!.ToString())</span>
            }
            else
            {
                @CardTemplate(item)
            }
        </div>
        @if (_dragTarget?.Equals(item) == true && !_dropAbove)
        {
            <div @attributes="GetDropAreaAttributes()">
                @if (DropAreaTemplate != null)
                {
                    @DropAreaTemplate
                }
            </div>
        }
    }
</div>