@inherits PDComponentBase
@typeparam TCard

<div @attributes=@GetAttributes()>
    @if (!AllDataLoaded())
    {
        <PDCardDeckLoadingIcon />
    }

    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>
