.pddatetime {
	display: flex;
	flex-wrap: wrap;
}

.form-control.date {
	width: fit-content;
}

.form-control.time {
	width: 120px;
}

.invalid {
	color: var(--bs-danger);
}

input::-webkit-calendar-picker-indicator {
	margin-bottom: 4px;
}