.pddatetimeoffset {
	display: flex;
	flex-wrap: wrap;
}

.form-control {
	padding: 6px 3px !important;
	width: 115px;
}

.form-select {
	/*padding: 6px 3px !important;*/
	width: 100px;
}


.invalid {
	color: var(--bs-danger);
}

input::-webkit-calendar-picker-indicator {
	margin-bottom: 4px;
}
