.pddatetimeoffset {
	display: flex;
	flex-wrap: wrap;
}

.form-control.date {
	width: fit-content;
}

.form-control.time {
	width: 120px;
}

.form-select {
	width: 100px;
}

.form-select.timezone {
	width: auto;
	min-width: 220px;
}

.pddatetimeoffset .form-check.pdnow {
	display: flex;
	align-items: center;
	margin-bottom: 0;
	white-space: nowrap;
}


.invalid {
	color: var(--bs-danger);
}

input::-webkit-calendar-picker-indicator {
	margin-bottom: 4px;
}
