.pdfilepreview {
	height: 100%;
	overflow: auto;
	width: 100%;
}

	.pdfilepreview.basic {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	.pdfilepreview.md {
	}

::deep .stacked {
	align-items: center;
	display: flex;
	flex-direction: column;
}

::deep .stacked span {
	margin-top: 4px;
}

::deep .h1, ::deep h2, ::deep h3, ::deep .h4 {
	margin: 0px !important;
	padding: 0px !important;
}