<PDModal @ref="Modal"
		 Title="@_modalTitle"
		 ButtonClick="OnButtonClick"
		 Buttons="_toolbarItems"
		 HideOnBackgroundClick="HideOnBackgroundClick"
		 Size="Size">

	<div class="pdfilemodalexplorer">
		<PDFileExplorer @ref="FileExplorer"
						DataProvider="DataProvider"
						AllowDrag="false"
						AllowDrop="false"
						AllowRename="false"
						AutoExpand="true"
						FilenamePattern="@_filenamePattern"
						FolderChanged="OnFolderChanged"
						ItemDoubleClick="OnItemDoubleClick"
						ShowFiles="_showFiles"
						ShowToolbar="false"
						ShowContextMenu="false"
						SelectionMode="TableSelectionMode.Single"
						SelectionChanged="OnSelectionChanged" />
	</div>

</PDModal>

<PDModal @ref="ModalConfirm"
		 Title="Confirm Overwrite"
		 HideOnBackgroundClick="HideOnBackgroundClick"
		 Buttons="_confirmToolbarItems">
	<span>Are you sure you wish to overwrite '<b>@_filenameTextbox.Value</b>'?</span>
</PDModal>