.pdfileexplorer {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding-bottom: 5px;
}

	.pdfileexplorer .table td, .pdfileexplorer .table th {
		padding: 2px 4px 1px 4px;
	}

	.pdfileexplorer ::deep .pdtable {
		/* RM-14062 MG */
		height: 0px !important;
	}

	.pdfileexplorer ::deep .pdtree {
		height: 0px;
	}

	.pdfileexplorer .file-hidden, .pdfileexplorer .file-system {
		color: #ccc;
	}

	.pdfileexplorer .uploading {
		color: #666;
		font-style: italic;
	}

	.pdfileexplorer .pdfe-toolbar {
		height: 42px;
	}

	.pdfileexplorer ::deep .pdsplitter.horizontal {
		height: calc(100% - 42px);
	}

	.pdfileexplorer .preview-header {
		background-color: silver;
		height: 20px;
	}

	.pdfileexplorer .preview-content {
		height: calc(100% - 20px);
	}

#upload-progress-modal {
	z-index: 1060;
}

.progress-dialog {
	min-height: 140px;
}

	.progress-dialog .overall-progress {
		display: flex;
		justify-content: center;
	}

	.progress-dialog .file-progress {
		font-size: 10px;
	}

.progress-dialog-buttons {
	display: flex;
	justify-items: flex-end;
}

.pdtreenode .pdtreenode_content {
	padding: 2px 3px 2px 3px;
}

::deep .pdtreenode span.item-text {
	margin-top: 2px;
}

::deep .pdtreenode span.item-icon {
	height: 20px;
	min-width: 30px;
}

.upload-progress-bar {
	background-color: #007bff;
	height: 5px;
}

.upload-zone {
	border: 2px dashed silver !important;
	border-radius: 5px;
	padding: 5px;
	max-height: 400px;
	overflow-y: auto;
	cursor: pointer;
}

.pdfe-drop-zone-msg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
	color: silver;
}

.dz-started .pdfe-drop-zone-msg {
	display: none;
}

.pdfe-dz-preview.dz-success {
	color: #28a745;
}

.pdfe-dz-preview.dz-error {
	color: #dc3545;
}

.pdfe-dz-progress {
	background-color: #007bff;
	height: 4px;
}

.pdfe-dz-preview.dz-complete .pdfe-dz-progress {
	display: none !important;
}

.pdfe-dz-preview.dz-error .error-mark {
	display: inline-block !important;
}

.pdfe-dz-preview.dz-success .success-mark {
	display: inline-block !important;
}

.item-icon {
	display: flex;
}

.pd-badge {
	background-color: white;
	border-radius: 11px;
	color: black;
	height: 22px;
	margin-left: -12px;
	margin-top: 4px;
	padding-left: 2px;
	padding-top: 3px;
	transform: scale(0.7);
	width: 22px;
}