<PDModal @ref="_modal"
		 Title="@_modalTitle"
		 Buttons="_toolbarItems"
		 Size="Size">

	<div class="pdfilemodalexplorer">
		<PDFileExplorer @ref="_fileExplorer"
						DataProvider="DataProvider"
						AllowDrag="false"
						AllowDrop="false"
						AllowRename="false"
						ShowToolbar="false"
						ShowContextMenu="false"
						SelectionMode="TableSelectionMode.Single"
						SelectionChanged="OnSelectionChanged"
						ItemDoubleClick="OnItemDoubleClick" />
	</div>

</PDModal>

<PDModal @ref="_modalConfirm"
		 Title="Confirm Overwrite"
		 Buttons="_confirmToolbarItems">
	<span>Are you sure you wish to overwrite '<b>@_filenameTextbox.Value</b>'?</span>
</PDModal>