@if(!string.IsNullOrWhiteSpace(_previewInfo?.Url))
{
    <iframe class="web" src="@_previewInfo.Url" />
}
else
{
    <div class="pdfilepreview @(_previewInfo?.CssClass)">
        @_previewInfo?.HtmlContent
    </div>
}