<div class="pdfileexplorer">
	<PDSplitter GutterSize="4">
		<PDSplitPanel Size="1">
			<PDTree @ref="_tree" TItem="FileExplorerItem" DataProvider="DataProvider" LoadOnDemand="true"
					KeyField="x => x.Path" ParentKeyField="x => x.ParentPath" TextField="x => x.Name" IsLeaf="x => x.EntryType == FileExplorerItemType.File"
					SelectionChange="OnTreeSelectionChange">
				<NodeTemplate>
					<i class="far @(context.Data?.EntryType == FileExplorerItemType.File ? "fa-file" : "fa-folder")"></i>
					<span>@context.Text</span>
				</NodeTemplate>
			</PDTree>
		</PDSplitPanel>
		<PDSplitPanel Size="3">
			<PDTable @ref="_table" TItem="FileExplorerItem" DataProvider="DataProvider" SearchText="@FolderPath">
				<PDColumn TItem="FileExplorerItem" Field="x => x.Name"></PDColumn>
				<PDColumn TItem="FileExplorerItem" Field="x => x.EntryType"></PDColumn>
				<PDColumn TItem="FileExplorerItem" Field="x => x.FileSize"></PDColumn>
				<PDColumn TItem="FileExplorerItem" Field="x => x.DateCreated"></PDColumn>
				<PDColumn TItem="FileExplorerItem" Field="x => x.DateModified"></PDColumn>
			</PDTable>
		</PDSplitPanel>
	</PDSplitter>
</div>
