@typeparam TItem
@if (Form is null)
{
	<span>Form parameter has not been set.</span>
}
else if (Form.Mode != FormModes.Hidden && Form.Mode != FormModes.Empty)
{
	<div class="pd-form-footer">
		<PDToolbar Items="Buttons" ButtonClick="OnButtonClick" />
	</div>
}