<div class="form-control @(Disabled ? "disabled" : "")" tabindex="@(Disabled ? null : "0")" @onkeypress="OnKeyPress">
	<i class="far @(Value ? "fa-check-square" : "fa-square")" @onclick="OnClick" ></i>
</div>