@typeparam TItem
@if(Form is null)
{
	<span>Form parameter has not been set.</span>
}
else if (Form.Mode != FormModes.Hidden && Form.Mode != FormModes.Empty)
{
	<div class="pd-form-header">
		@if (Form.Mode == FormModes.Create)
		{
			<span>Create new @GetClassDescription()</span>
		}
		else if (Form.Mode == FormModes.Delete)
		{
			<span>Are you sure you want to delete '@GetItemDescription()'?</span>
		}
		else
		{
			<span>Edit '@GetItemDescription()'</span>
		}
	</div>
}