@typeparam TItem
@if (Form is null)
{
	<span>Form parameter has not been set.</span>
}
else if (Form.Mode != FormModes.Hidden && Form.Mode != FormModes.Empty)
{
	<div class="pd-form-header">
		<div class="d-flex justify-content-between">
			@if (Form.Mode == FormModes.Create)
			{
				<span>Create new @GetClassDescription()</span>
				@if (ShowHelpToggle && !string.IsNullOrWhiteSpace(HelpText))
				{
					<i class="fas fa-question-circle text-info" @onclick="() => { if (Form != null) { Form.ShowHelp = !Form.ShowHelp; } }"></i>
				}
			}
			else if (Form.Mode == FormModes.Delete)
			{
				<span>Are you sure you want to delete '@GetItemDescription()'?</span>
			}
			else
			{
				<span>Edit '@GetItemDescription()'</span>
				@if (ShowHelpToggle && !string.IsNullOrWhiteSpace(HelpText))
				{
					<i class="fas fa-question-circle text-info" @onclick="() => { if (Form != null) { Form.ShowHelp = !Form.ShowHelp; } }"></i>
				}
			}
		</div>
		@if (!string.IsNullOrWhiteSpace(HelpText) && Form?.ShowHelp == true && (Form.Mode == FormModes.Edit || Form.Mode == FormModes.Create))
		{
			<div class="small text-muted">
				@HelpText
			</div>
		}
	</div>
}