.disabled {
	background-color: #e9ecef;
	color: silver;
	filter: grayscale(1);
	opacity: 1;
}

.pd-form-field > .input-group > .form-control.invalid {
	border-color: #f5c6cb;
}

.pd-form-field > .input-group > .form-control.invalid:focus {
	border-color: #f5c6cb;
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.pd-form-help-icon {
	font-size: 75%;
	margin-top: 5px;
}
