@inherits PDComponentBase
@typeparam TItem

<div @attributes="ListAttributes()">
    @if (PageInfo != null && ShowPager)
    {
        <PDPager PageCriteria="PageInfo"
                 ShowPageDescription="false"
                 ShowPageSizeChoices="false"
                 Size="Size" />
        <hr />
    }
    <ul>
        @foreach(var item in _displayedItems)
        {
            <li @attributes="ItemAttributes(item)"
                @onclick="@((a) => UpdateSelectionAsync(a, item))">
                @if(ItemTemplate is null)
                {
                    @(_compiledTextExpression is null ? item.ToString() : _compiledTextExpression(item))
                }
                else
                {
                    @ItemTemplate(item)
                }
            </li>
        }
    </ul>
</div>