.filter {
	display: flex;
}

	.filter ::deep input {
		border-top-right-radius: 0px !important;
		border-bottom-right-radius: 0px !important;
	}

	.filter ::deep .input-group-text {
		border-top-left-radius: 0px !important;
		border-bottom-left-radius: 0px !important;
	}

.header {
	background-color: white;
	border-bottom: 1px solid silver;
	padding: 5px 0px;
	position: sticky;
	top: 0px;
}

.pd-list {
	margin: 0px 5px;
	user-select: none;
}

.pd-list.disabled {
	opacity: 0.5;
}

hr {
	margin: 0.5rem;
}

li {
	list-style: none;
}

li.selected {
	background-color: var(--bs-primary);
}

ul {
	padding-left: 0px;
	margin-bottom: 0px;
}