@inherits PDComponentBase
@typeparam TItem

<div @attributes="ListAttributes()">
    @if (PageInfo != null && ShowPager)
    {
        <PDPager PageCriteria="PageInfo"
                 ShowPageDescription="false"
                 ShowPageSizeChoices="false"
                 Size="Size" />
        <hr />
    }
    <ul>
        @if (ShowCheckBoxes && ShowAllCheckBox)
        {
            <li @attributes="ItemAttributes(null)"
                @onclick="OnAllCheckBoxClicked">
                <i class="far @AllCheckBoxIconCls me-2" />
                <span>(All)</span>
            </li>
        }
        @foreach(var item in _displayedItems)
        {
            <li @attributes="ItemAttributes(item)"
                @onclick="@((a) => UpdateSelectionAsync(a, item))">

                @if(ShowCheckBoxes && SelectionMode != TableSelectionMode.None)
                {
                    <i @attributes="CheckBoxAttributes(item)" />
                    @*<input @attributes="CheckBoxAttributes(item)" type="checkbox" />*@
                }

                @if(ItemTemplate is null)
                {
                    @(_compiledTextExpression is null ? item.ToString() : _compiledTextExpression(item))
                }
                else
                {
                    @ItemTemplate(item)
                }

            </li>
        }
    </ul>
</div>