.pd-mixing-desk {
	display: flex;
	flex-direction: row;
	gap: 20px;
	padding: 20px;
	background-color: var(--bs-secondary-bg);
	border-radius: var(--bs-border-radius-lg);
	overflow-x: auto;
	align-items: flex-start;
	border: 1px solid var(--bs-border-color);
	max-width: 100%;
}
