 <div class="pd-monacoeditor">
    <StandaloneCodeEditor @ref="_monacoEditor"
                          CssClass="resizable"
                          ConstructionOptions="GetOptions"
                          Id="@Id"
                          OnDidChangeCursorSelection="OnMonacoEditorSelectionChangeAsync"
                          OnDidBlurEditorText="OnMonacoEditorBlurAsync"
                          OnKeyUp="OnMonacoEditorKeyUpAsync" />
</div>