::deep .pd-sort, .pd-sort:hover {
	color: var(--bs-primary);
}

::deep .pd-sort .fa-stack {
	width: 20px;
}

::deep .pd-sort.fa-sort, .pd-sort.fa-sort:hover {
	opacity: 0.3;
}

/* ✅ ADDED: Make sort icon match filter icon size and alignment */
::deep .pd-sort .fa-stack {
	font-size: 1rem; /* Match filter icon size */
	vertical-align: middle;
}

::deep .pd-sort i {
	vertical-align: middle;
}

.pdtable {
	height: 100%;
	width: 100%;
}

.noselect {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.pdtable.disabled {
	background-color: #d3d3d3;
	color: #dddddd;
	filter: grayscale(1);
}

.pdtablerow.selected {
	background-color: #007bff;
}

.pdtable:focus {
	outline: none;
}

.pdtable_edit {
	width: 100%;
}

.pdtable .form-check-input {
	margin-left: 0px;
	transform: scale(1.3);
}

.pdtable .hdr {
	align-items: center;
	display: flex;
	min-height: 2em;
	gap: 0; /* ✅ CHANGED: Remove gap completely - icons will be directly adjacent */
}

/* ✅ ADDED: Better spacing for column title */
.pdtable .hdr > span.text-nowrap {
	margin-right: 0.25rem;
}

/* ✅ CHANGED: Remove all spacing from icons and ensure alignment */
.pdtable .hdr > .pd-pointer.pd-sort,
.pdtable .hdr > .pd-filter {
	margin: 0;
	padding: 0;
	vertical-align: middle; /* ✅ Ensure vertical alignment */
	display: inline-flex; /* ✅ Use inline-flex for better alignment */
	align-items: center; /* ✅ Center content vertically */
}

.text-right {
	text-align: right;
}

th.text-right .hdr {
	justify-content: flex-end;
}

.text-left {
	text-align: left;
}

th.text-left .hdr {
	justify-content: flex-start;
}

/* Sticky header styles for scrollable table mode */
::deep .pdtable-sticky-header {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: var(--bs-body-bg, #fff);
}

::deep .pdtable-sticky-header th {
	background-color: inherit;
}

/* Container for scrollable table mode */
.pdtable-container {
	display: flex;
	flex-direction: column;
}
