.pdtextbox {
}

.pdtextbox-clear-btn {
	position: relative;
	left: -20px;
	cursor: pointer;
}

.input-group-text {
	padding: 0px;
}

button.flash i {
	animation: flash 1s infinite;
}

@keyframes flash {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

