@using PanoramicData.Blazor.Models.Tiles

<div id="@Id"
	 @ref="_containerElement"
	 class="pd-tiles-js @CssClass"
	 style="width: @Width; height: @Height; background-color: @Options.BackgroundColor; @Style">
</div>
