.pd-timeline-toolbar {
	align-items: center;
	display: flex;
	font-size: 0.9rem;
	justify-content: flex-end;
	user-select: none;
	width: 100%;
}

.pd-timeline-toolbar .scale-label {
	min-width: 60px;
	text-align: center;
}

.range-bar, .selection-bar {
	border-left: 1px solid silver;
	padding-left: 0.5rem;
}