.pdtoolbartextbox {
	display: flex;
	align-items: center;
}

.pdtoolbartextbox .input-group {
	flex-wrap: nowrap;
}

.pdtoolbartextbox label {
	white-space: nowrap;
	padding: 0 0.5rem 0 0;
	margin-bottom: 0px;
}

.pdttb-clear-btn {
	position: relative;
	left: -20px;
	cursor: pointer;
}