@typeparam TItem

<CascadingValue Value="(PDTree<TItem>)this" Name="Tree">

	<div id="@Id" class="pdtree" tabindex="0" @onkeydown="OnKeyDown">
		@if (RootNode.Nodes != null)
		{
			var topLevelNodes = ShowRoot || RootNode.Nodes.Count > 1 ? RootNode.Nodes : RootNode.Nodes[0].Nodes;
			if (topLevelNodes != null)
			{
				foreach (var subNode in topLevelNodes)
				{
					@if (NodeTemplate == null)
					{
						<PDTreeNode TItem="TItem"
									Node="subNode"
									ShowLines="ShowLines"
									EndEdit="OnEndEdit"
									AllowDrag="AllowDrag"
									AllowDrop="AllowDrop"
									AllowDropInBetween="AllowDropInBetween"
									Drop="OnDrop" />
					}
					else
					{
						<PDTreeNode TItem="TItem"
									Node="subNode"
									ShowLines="ShowLines"
									EndEdit="OnEndEdit"
									AllowDrag="AllowDrag"
									AllowDrop="AllowDrop"
									AllowDropInBetween="AllowDropInBetween"
									Drop="OnDrop">
							<NodeTemplate>@NodeTemplate(context)</NodeTemplate>
						</PDTreeNode>
					}
				}
			}
		}
	</div>

</CascadingValue>