@typeparam TItem

<div class="pdtree">
	@if (ShowRoot)
	{
		<PDTreeNode Node="_model" ShowLines="ShowLines" />
	}
	else
	{
		foreach(var subNode in _model.Nodes)
		{
			<PDTreeNode Node="subNode" ShowLines="ShowLines" />
		}
	}
</div>