@typeparam TItem

<div class="pdtree">
	@if (ShowRoot)
	{
		@if(NodeTemplate == null)
		{
			<PDTreeNode Node="_model" ShowLines="ShowLines" />
		}
		else
		{
			<PDTreeNode Node="_model" ShowLines="ShowLines">
				<NodeTemplate>@NodeTemplate(context)</NodeTemplate>
			</PDTreeNode>
		}
	}
	else
	{
		foreach (var subNode in _model.Nodes)
		{
			@if (NodeTemplate == null)
			{
				<PDTreeNode Node="subNode" ShowLines="ShowLines" />
			}
			else
			{
				<PDTreeNode Node="subNode" ShowLines="ShowLines">
					<NodeTemplate>@NodeTemplate(context)</NodeTemplate>
				</PDTreeNode>
			}
		}
	}
</div>