@typeparam TItem

	<CascadingValue Value="(PDTree<TItem>)this" Name="Tree">

		<div class="pdtree">
			@if (ShowRoot)
			{
				@if (NodeTemplate == null)
				{
					<PDTreeNode TItem="TItem" Node="_model" ShowLines="ShowLines" />
				}
				else
				{
					<PDTreeNode TItem="TItem" Node="_model" ShowLines="ShowLines">
						<NodeTemplate>@NodeTemplate(context)</NodeTemplate>
					</PDTreeNode>
				}
			}
			else
			{
				if (_model.Nodes != null)
				{
					foreach (var subNode in _model.Nodes)
					{
						@if (NodeTemplate == null)
						{
							<PDTreeNode TItem="TItem" Node="subNode" ShowLines="ShowLines" />
						}
						else
						{
							<PDTreeNode TItem="TItem" Node="subNode" ShowLines="ShowLines">
								<NodeTemplate>@NodeTemplate(context)</NodeTemplate>
							</PDTreeNode>
						}
					}
				}
			}
		</div>

	</CascadingValue>