@typeparam TItem

	<CascadingValue Value="(PDTree<TItem>)this" Name="Tree">

		<div id="@Id" class="pdtree" tabindex="0" @onkeydown="OnKeyDown">
			@if (ShowRoot)
			{
				@if (NodeTemplate == null)
				{
					<PDTreeNode TItem="TItem" Node="RootNode" ShowLines="ShowLines" EndEdit="OnEndEdit" />
				}
				else
				{
					<PDTreeNode TItem="TItem" Node="RootNode" ShowLines="ShowLines" EndEdit="OnEndEdit">
						<NodeTemplate>@NodeTemplate(context)</NodeTemplate>
					</PDTreeNode>
				}
			}
			else
			{
				if (RootNode.Nodes != null)
				{
					foreach (var subNode in RootNode.Nodes)
					{
						@if (NodeTemplate == null)
						{
							<PDTreeNode TItem="TItem" Node="subNode" ShowLines="ShowLines" EndEdit="OnEndEdit" />
						}
						else
						{
							<PDTreeNode TItem="TItem" Node="subNode" ShowLines="ShowLines" EndEdit="OnEndEdit">
								<NodeTemplate>@NodeTemplate(context)</NodeTemplate>
							</PDTreeNode>
						}
					}
				}
			}
		</div>

	</CascadingValue>