<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">PanoramicData.Blazor</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="blockoverlay">
				<span class="oi oi-plus" aria-hidden="true"></span> BlockOverlay
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="pdtable">
				<span class="oi oi-plus" aria-hidden="true"></span> PDTable
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="pdpager">
				<span class="oi oi-plus" aria-hidden="true"></span> PDPager
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="pdtree">
				<span class="oi oi-plus" aria-hidden="true"></span> PDTree
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="pdsplitter">
				<span class="oi oi-plus" aria-hidden="true"></span> PDSplitter
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="pdfileexplorer">
				<span class="oi oi-plus" aria-hidden="true"></span> PDFileExplorer
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="pdcontextmenu">
				<span class="oi oi-plus" aria-hidden="true"></span> PDContextMenu
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="pdtoolbar">
				<span class="oi oi-plus" aria-hidden="true"></span> PDToolbar
			</NavLink>
		</li>
	</ul>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
