<div class="audio-channel">
	<PDKnob Value="0.5"
			CapColor="red"
			Label="Gain"
			DefaultValue="0.5" />
	<PDKnob Value="0.5"
			CapColor="blue"
			Label="Comp"
			MaxDisplay="10"
			DefaultValue="0.5" />
	<PDKnob Value="0.5"
			CapColor="#aa8"
			Label="EQ High"
			MaxDisplay="10"
			DefaultValue="0.5" />
	<PDKnob Value="0.5"
			CapColor="#aa8"
			Label="EQ Mid"
			MaxDisplay="10"
			DefaultValue="0.5" />
	<PDKnob Value="0.5"
			CapColor="#aa8"
			Label="EQ Low"
			MaxDisplay="10"
			DefaultValue="0.5" />
	<PDKnob Value="0.5"
			CapColor="green"
			Label="DSP"
			MaxDisplay="10"
			DefaultValue="0.5" />
	<PDKnob Value="0.5"
			Mode="PDKnobMode.Balance"
			CapColor="purple"
			Label="Pan"
			MaxDisplay="10"
			DefaultValue="0.5" />
	<PDAudioButton Value="0"
				   ActiveColor="#0f0"
				   InactiveColor="#040"
				   Label="PFL" />
	<PDAudioButton Value="0"
				   ActiveColor="#f00"
				   InactiveColor="#400"
				   Label="Mute" />
	<PDFader Value="@FaderValue"
			 Label="@Name" />
</div>
