@inherits LayoutComponentBase

	<div class="page">

		<PDBlockOverlay />

		<PDGlobalListener />

		<div class="sidebar">
			<NavMenu />
		</div>

		<div class="main">

			<div class="top-row px-4">
				<a class="" href="https://www.panoramicdata.com/" title="Open PanoramicData.Blazor web-site" target="_blank">
					<img src="_content/PanoramicData.Blazor.Demo/svg/Panoramic Data.svg" height="32" />
				</a>
				<a class="" href="https://www.nuget.org/packages/PanoramicData.Blazor/" title="Open PanoramicData.Blazor NuGet package" target="_blank">
					<img src="_content/PanoramicData.Blazor.Demo/svg/NuGet-Logo.svg" height="50" />
				</a>
				<a class="" href="https://github.com/panoramicdata/PanoramicData.Blazor" title="Open PanoramicData.Blazor GitHuib project" target="_blank">
					<img src="_content/PanoramicData.Blazor.Demo/png/GitHub-Mark-32px.png" height="30" />
				</a>
			</div>

			<div class="content px-4">
				<CascadingValue Value="_eventManager">
					@Body
				</CascadingValue>
			</div>
		</div>

	</div>