@inherits LayoutComponentBase
@implements IDisposable

<div class="page">

	<PDBlockOverlay />

	<PDGlobalListener />

	@* Sidebar stays outside the PDChatContainer *@
	<div class="sidebar">
		<NavMenu />
	</div>

	@* PDChatContainer wraps only the main content area *@
	<div class="main">
		<div class="top-row px-4">
			@* Top navigation - clean without chat controls *@
			<div class="d-flex align-items-center justify-content-between w-100">
				<div class="d-flex align-items-center">
					<a class="me-3" href="https://www.panoramicdata.com/" title="Open PanoramicData.Blazor web-site" target="_blank">
						<img src="_content/PanoramicData.Blazor.Demo/svg/Panoramic Data.svg" height="32" />
					</a>
					<a class="me-3" href="https://www.nuget.org/packages/PanoramicData.Blazor/" title="Open PanoramicData.Blazor NuGet package" target="_blank">
						<img src="_content/PanoramicData.Blazor.Demo/svg/NuGet-Logo.svg" height="50" />
					</a>
					<a class="me-3" href="https://github.com/panoramicdata/PanoramicData.Blazor" title="Open PanoramicData.Blazor GitHub project" target="_blank">
						<img src="_content/PanoramicData.Blazor.Demo/png/GitHub-Mark-32px.png" height="30" />
					</a>
				</div>
			</div>
		</div>

		<PDChatContainer ChatService="ChatService" 
						 DockModeChanged="@OnDockModeChanged"
						 ChatPanelSize="2" 
						 GutterSize="6">
			<ChatContent>
				<PDChat ChatService="ChatService"
						UserIconSelector="GetUserIcon"
						PriorityIconSelector="GetPriorityIcon"
						SoundSelector="GetSoundUrl"
						User="User" />
			</ChatContent>
			<ChildContent>
				@* The main content area goes here *@
				<div class="content px-4">
					<CascadingValue Value="_eventManager">
						@Body
					</CascadingValue>
				</div>
			</ChildContent>
		</PDChatContainer>
	</div>

</div>