@page "/"
@namespace PanoramicData.Blazor.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PanoramicData.Blazor</title>
	<base href="~/" />
	<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<link href="_content/PanoramicData.Blazor/css/main.min.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
	<app>
		<component type="typeof(App)" render-mode="Server" />
	</app>

	<div id="blazor-error-ui">
		<environment include="Staging,Production">
			An error has occurred. This application may no longer respond until reloaded.
		</environment>
		<environment include="Development">
			An unhandled exception has occurred. See browser dev tools for details.
		</environment>
		<a href="" class="reload">Reload</a>
		<a class="dismiss">🗙</a>
	</div>

	<environment include="Development">
		<script src="~/lib/splitjs/split.js"></script>
		<script src="~/lib/popperjs/umd/popper.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/lib/splitjs/split.min.js"></script>
		<script src="~/lib/popperjs/umd/popper.min.js"></script>
	</environment>
	<script src="_framework/blazor.server.js"></script>
	<script src="_content/PanoramicData.Blazor/js/pdblazor.js"></script>
	<script src="_content/BlazorInputFile/inputfile.js"></script>
</body>
</html>
