@page "/"
@namespace PanoramicData.Blazor.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PanoramicData.Blazor</title>
	<base href="~/" />
	<link href="_content/PanoramicData.Blazor.Demo/lib/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="_content/PanoramicData.Blazor.Demo/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="_content/PanoramicData.Blazor.Demo/lib/dropzone/dist/dropzone.css" rel="stylesheet" />
	<link href="_content/PanoramicData.Blazor.Demo/css/site.css" rel="stylesheet" />
	<link href="_content/PanoramicData.Blazor/css/main.min.css" rel="stylesheet" />
	<link href="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.css" rel="stylesheet" />
	<link href="PanoramicData.Blazor.Web.styles.css" rel="stylesheet" />
</head>
<body>
	<app>
		<component type="typeof(PanoramicData.Blazor.Demo.App)" render-mode="Server" />
	</app>

	<div id="blazor-error-ui">
		<environment include="Staging,Production">
			An error has occurred. This application may no longer respond until reloaded.
		</environment>
		<environment include="Development">
			An unhandled exception has occurred. See browser dev tools for details.
		</environment>
		<a href="" class="reload">Reload</a>
		<a class="dismiss">🗙</a>
	</div>

	<environment include="Development">
		<script src="_content/PanoramicData.Blazor.Demo/lib/jquery/jquery.js"></script>
		<script src="_content/PanoramicData.Blazor.Demo/lib/splitjs/split.js"></script>
		<script src="_content/PanoramicData.Blazor.Demo/lib/popperjs/umd/popper.js"></script>
		<script src="_content/PanoramicData.Blazor.Demo/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="_content/PanoramicData.Blazor.Demo/lib/dropzone/dist/dropzone.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="_content/PanoramicData.Blazor.Demo/lib/jquery/jquery.min.js"></script>
		<script src="_content/PanoramicData.Blazor.Demo/lib/splitjs/split.min.js"></script>
		<script src="_content/PanoramicData.Blazor.Demo/lib/popperjs/umd/popper.min.js"></script>
		<script src="_content/PanoramicData.Blazor.Demo/lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="_content/PanoramicData.Blazor.Demo/lib/dropzone/dist/min/dropzone.min.js"></script>
	</environment>
	<script src="_content/PanoramicData.Blazor.Demo/js/interop.js"></script>
	<script src="_content/PanoramicData.Blazor/js/pdblazor.js"></script>

	<script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
	<script>require.config({ paths: { 'vs': '_content/BlazorMonaco/lib/monaco-editor/min/vs' } });</script>
	<script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>
	<script src="_content/BlazorMonaco/jsInterop.js"></script>

	<script src="_framework/blazor.server.js"></script>

</body>
</html>
