@page "/pdcontextmenu"

<h1>PDContextMenu</h1>

<PDContextMenu @ref="_contextMenu" Items="_items">
</PDContextMenu>

<span>Right click anywhere in rectangle to show context menu</span>

<div style="width: 100%; height: 500px; background-color: #eee;" @oncontextmenu="ShowMenuHandler" @oncontextmenu:preventDefault>

</div>



