@page "/pdfilemodals"

<button class="btn btn-primary" @onclick="ShowFileOpenModal">File Open Modal</button>

<span>Open Result: @_openResult</span>

<PDFileModal @ref="_fileModal"
			 DataProvider="_dataProvider"
			 OpenButtonText="Select"
			 OpenTitle="Report Picker" />