@page "/pdfileexplorer"

<h1>PDFileExplorer</h1>

<!-- PDSplitter works better when its container has a known size -->
<div class="full-content-size">

	<PDFileExplorer DataProvider="_dataProvider"
					TreeContextMenuClick="OnTreeContextMenuClick" TableContextMenuClick="OnTableContextMenuClick">
	</PDFileExplorer>

</div>