@page "/pdform3"
@using System.Linq
@using PanoramicData.Blazor.Web.Data
@using PanoramicData.Blazor.Extensions
<style>
	.form-div {
		margin-left: 10px;
	}
	.pd-form-header {
		padding-bottom: 10px;
	}
</style>

<h1>PDForm</h1>

<h3>Example 3: Form linked to Table</h3>

<div>
	<button class="btn btn-primary" @onclick="OnCreatePerson">Create</button>
</div>

<br />

<div class="d-flex">

	<div>
		<PDTable @ref="Table" TItem="Person" DataProvider="PersonDataProvider" KeyField="x => x.Id" SelectionMode="TableSelectionMode.Single"
				 SelectionChanged="OnSelectionChanged">
			<PDColumn Id="Col1" TItem="Person" Field="x => x.Id" ShowInList="false" ShowInCreate="(_) => false" ReadOnlyInEdit="(_) => true" />
			<PDColumn Id="Col2" TItem="Person" Field="x => x.FirstName" ShowInList="false" Title="First Name" ShowInDelete="(_) => true" />
			<PDColumn Id="Col3" TItem="Person" Field="x => x.LastName" ShowInList="false" Title="Last Name" ShowInDelete="(_) => true" />
			<PDColumn Id="Col4" TItem="Person" Field="x => x.Email" ShowInDelete="(_) => true" />
			<PDColumn Id="Col5" TItem="Person" Field="x => x.Dob" ShowInList="false" ShowInDelete="@((x) => !x.FirstName.In("Alice", "Carol", "Eve", "Grace", "Heidi", "Judy"))" />
			<PDColumn Id="Col6" TItem="Person" Field="x => x.Department" />
			<PDColumn Id="Col7" TItem="Person" Field="x => x.Location" Options="GetLocationOptions" />
			<PDColumn Id="Col8" TItem="Person" Field="x => x.Target" ShowInList="false" ReadOnlyInEdit="(x) => x.Department != Departments.Sales" />
			<PDColumn Id="Col9" TItem="Person" Field="x => x.AllowLogin" ShowInList="false" />
			<PDColumn Id="Col10" TItem="Person" Field="x => x.Password" ShowInList="false" ShowInCreate="(x) => x.AllowLogin" ShowInEdit="(x) => x.AllowLogin" IsPassword="true" />
			<PDColumn Id="Col11" TItem="Person" Field="x => x.Comments" ShowInList="false" ShowInCreate="(_) => false" />
			<PDColumn Id="Col12" TItem="Person" Field="x => x.DateCreated" Format="dd/MM/yy" ShowInList="false" ReadOnlyInEdit="(_) => true" />
			<PDColumn Id="Col13" TItem="Person" Field="x => x.DateModified" Format="dd/MM/yy" ShowInEdit="(_) => false" ShowInCreate="(_) => false" />
		</PDTable>
	</div>

	<div class="form-div">
		<PDForm @ref="Form" TItem="Person" Item="SelectedPerson" DataProvider="PersonDataProvider" DefaultMode="FormModes.Empty"
				Error="OnError" Deleted="OnPersonDeleted" Updated="OnPersonUpdated" Created="OnPersonCreated">
			<PDFormHeader TItem="Person" ItemDescription="@((x) => $"{x.FirstName} {x.LastName}")" />
			<PDFormBody TItem="Person" Table="Table" />
			<PDFormFooter TItem="Person" Click="OnFooterClick" />
		</PDForm>
	</div>

</div>

<div>
	<div class="form-group p-1">
		<label>Events</label>
		<textarea rows="8" class="form-control">@_events</textarea>
	</div>
</div>

