@page "/pdtable"
@using PanoramicData.Blazor.Web.Data
<h1>PDTable</h1>

<PDTable TItem="TestRow" DataProvider="DataProvider" PageSize="_pageSize" DefaultSortColumn="Col1" DefaultSortDirection="SortDirection.Descending" ColumnsConfig="_columnsConfig">

	<PDColumn Id="Col1" TItem="TestRow" Title="Id" Field="x => x.IntField" />
	<PDColumn Id="Col2" TdClass="text-nowrap" TItem="TestRow" Title="Date" Field="x => x.DateField" Format="dd/MM/yyyy HH:mm" />
	<PDColumn Id="Col3" TItem="TestRow" Title="Enabled" Field="x => x.BooleanField">
		<Template>
			@(context.BooleanField ? "Yes" : "")
		</Template>
	</PDColumn>
	<PDColumn Id="Col4" TItem="TestRow" Title="Comments" Field="x => x.StringField" Sortable="false"/>
	<PDColumn Id="Col5" TItem="TestRow" Title="Notes" Field="x => x.StringField2" Sortable="false" ShowInList="false"/>

</PDTable>

<div>
	<div class="form-inline">

		<div class="form-group col-3">
			<label>Page Size</label>
			<input type="number" class="form-control" @bind="_pageSize">
		</div>

		<div class="form-group col-3">
			<label>Columns Config - edit and tab out of field to apply changes</label>
			<textarea rows="8" cols="40" class="form-control" @bind="ColumnsConfigJson">
			</textarea>
		</div>

	</div>
</div>
