@page "/pdtable"
@using PanoramicData.Blazor.Web.Data
<h1>PDTable</h1>

<PDTable TItem="TestRow" DataProvider="DataProvider">

	<PDColumn TItem="TestRow" Title="Id" Field="x => x.IntField"></PDColumn>
	<PDColumn TItem="TestRow" Title="Date" Field="x => x.DateField" Format="dd/MM/yyyy HH:mm"></PDColumn>
	<PDColumn TItem="TestRow" Title="Enabled" Field="x => x.BooleanField">
		<Template>
			@(context.BooleanField ? "Yes" : "")
		</Template>
	</PDColumn>
	<PDColumn TItem="TestRow" Title="Comments" Field="x => x.StringField"></PDColumn>

</PDTable>