@page "/pdtoolbar"
<h1>PDToolbarPage</h1>

<h3>Declarative example of PDToolbar usage</h3>
<PDToolbar>
	<PDToolbarButton Text="Open"
					 ToolTip="Open something"
					 CssClass="btn-primary"
					 IconCssClass="fas fa-fw fa-folder-open"
					 TextCssClass="d-none d-sm-none d-md-inline"
					 Click="OnOpen"
					 IsVisible="_showButtons"
					 IsEnabled="_enableButtons" />

	<PDToolbarButton Text="Rename"
					 ToolTip="Rename something"
					 CssClass="btn-secondary"
					 IconCssClass="fas fa-fw fa-edit"
					 TextCssClass="d-none d-sm-none d-md-inline"
					 Click="OnRename"
					 IsVisible="_showButtons"
					 IsEnabled="_enableButtons" />

	<PDToolbarSeparator IsVisible="_showButtons" />

	<PDToolbarButton Text="Download"
					 ToolTip="Download something"
					 CssClass="btn-secondary"
					 IconCssClass="fas fa-fw fa-file-download"
					 TextCssClass="d-none d-sm-none d-md-inline"
					 Click="OnDownload"
					 IsVisible="_showButtons"
					 IsEnabled="_enableButtons" />

	<PDToolbarButton Text="@(_enableButtons ? "Disable Buttons" : "Enable Buttons")"
					 CssClass="btn-secondary"
					 Click="() => { _enableButtons = !_enableButtons; }"
					 ShiftRight="true" />

	<PDToolbarButton Text="@(_showButtons ? "Hide Buttons" : "Show Buttons")"
					 CssClass="btn-secondary"
					 Click="() => { _showButtons = !_showButtons; }" />
</PDToolbar>

<div>

	<div>
		<div class="form-group p-1">
			<label>Events</label>
			<textarea rows="8" class="form-control">@_events</textarea>
		</div>
	</div>

</div>

<br/>
<hr/>

<h3>Programmatic example of PDToolbar usage</h3>
<PDToolbar Items="ToolbarItems" ButtonClick="OnButtonClick" />
