@page "/pdtoolbar"
<h1>PDToolbarPage</h1>

<PDToolbar>

	<PDToolbarButton Text="Open" ToolTip="Open something" IconCssClass="fas fa-folder-open" Click="OnOpen" IsVisible="_showButtons" IsEnabled="_enableButtons" />
	<PDToolbarButton Text="Rename" ToolTip="Rename something" IconCssClass="" Click="OnRename" IsVisible="_showButtons" IsEnabled="_enableButtons"/>
	<PDToolbarButton Text="Download" ToolTip="Download something" IconCssClass="fas fa-file-download" Click="OnDownload" IsVisible="_showButtons" IsEnabled="_enableButtons"/>

	<PDToolbarButton Text="@(_enableButtons ? "Disable Buttons" : "Enable Buttons")" ToolTip="Enable or disable buttons" Click="() => { _enableButtons = !_enableButtons; }" ShiftRight="true" />
	<PDToolbarButton Text="@(_showButtons ? "Hide Buttons" : "Show Buttons")" ToolTip="Show or hide buttons" Click="() => { _showButtons = !_showButtons; }" />

</PDToolbar>

<div>

	<div>
		<div class="form-group p-1">
			<label>Events</label>
			<textarea rows="8" class="form-control">@_events</textarea>
		</div>
	</div>

</div>
