.cursor-pointer {
  cursor: pointer;
}

.fa-hidden {
  color: transparent;
}

.pd-pointer {
  cursor: pointer;
}

.pd-hidden {
  display: none;
}

.pd-empty-icon {
  height: 16px;
  width: 16px;
}

.resize-h {
  overflow: auto;
  resize: vertical;
}

.resize-w {
  overflow: auto;
  resize: horizontal;
}

.h-100 {
  height: 100px !important;
}

.h-200 {
  height: 200px !important;
}

.h-300 {
  height: 300px !important;
}

.h-400 {
  height: 400px !important;
}

.h-500 {
  height: 500px !important;
}

.h-100-pct {
  height: 100%;
}

.w-100-pct {
  width: 100%;
}

.w-100-px {
  width: 100px;
}

.w-125-px {
  width: 125px;
}

.w-150-px {
  width: 150px;
}

.w-200-px {
  width: 200px;
}

.mh-50-px {
  min-height: 50px;
}

.mh-100-px {
  min-height: 100px;
}

.mh-150-px {
  min-height: 150px;
}

.mh-200-px {
  min-height: 200px;
}

.mh-250-px {
  min-height: 250px;
}

.mh-300-px {
  min-height: 300px;
}

.mw-100-px {
  min-width: 100px;
}

.mw-125-px {
  min-width: 125px;
}

.mw-150-px {
  min-width: 150px;
}

.mw-200-px {
  min-width: 200px;
}

.text-small {
  font-size: 0.75rem;
}

.text-tiny {
  font-size: 0.5rem;
}

.z-1000 {
  z-index: 1000;
}

.z-1100 {
  z-index: 1100;
}

.z-1200 {
  z-index: 1200;
}
