.pdcontextmenuhost {
	height: 100%;
}

.pdcontextmenu {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	width: fit-content;
	flex-direction: column;
	display: none;
}

.pdcontextmenu.show {
	display: flex;
}

.pdcontextmenuitem {
	background-color: #fff;
	padding: .25rem .50rem;
	border-left: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
	cursor: pointer;
}

.pdcontextmenuitem.disabled {
	color: #6c757d;
	pointer-events: none;
	background-color: #fff;
}

.pdcontextmenu.disabled:hover {
	background-color: #fff;
}

.pdcontextmenuitem:first-child {
	border-top: 1px solid rgba(0,0,0,.125);
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}

.pdcontextmenuitem:last-child {
	border-bottom: 1px solid rgba(0,0,0,.125);
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
}

.pdcontextmenuitem:hover {
	background-color: #eee;
}

.pdcontextmenuseparator {
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
}
