.pddropzone {
	height: 100%;
}

.pddropzone.highlight {
	background-color: #e8ffe8;
}

/*.pddropzone input[type=file] {
	position: absolute;*/
/*	width: 100%;
	height: 100%;
	opacity: 100%;
*/
	/*display: none;
	cursor: pointer;
}*/