.disabled {
	opacity: 1;
	background-color: #e9ecef;
}

.pd-form-header {
	font-weight: bold;
	font-size: 1.2rem;
	width: 100%;
}

.pd-form-body {
	width: 100%;

	.form-control:disabled {
		background-color: #f9f9f9;
		color: #999;
	}
}

.pd-form-footer {
	width: 100%;
}
