.disabled {
	opacity: 1;
	background-color: #e9ecef;
}

.pd-form-header {
	margin: 0px 15px 15px 15px;
	padding: 10px;
	background-color: #e9ecef;
	border-radius: .3rem;
	border: 1px solid #ced4da;
	font-weight: bold;
	font-size: 1.2rem;
}

.pd-form-footer {
	margin: 15px 15px 0px 15px;
	padding: 10px;
	border-radius: .3rem;
	border: 1px solid #ced4da;
}
