.disabled {
	opacity: 1;
	background-color: #e9ecef;
}

.pd-form-header {
	font-weight: bold;
	font-size: 1.2rem;
	width: 100%;
}

.pd-form-body {
	width: 100%;

	.form-control:disabled,
	.form-control.disabled {
		background-color: #f9f9f9;
		color: #999;
	}
}

.pd-form-footer {
	width: 100%;
}

.pd-form-field > .input-group > .form-control.invalid {
	border-color: #f5c6cb;
}

.pd-form-field > .input-group > .form-control.invalid:focus {
	border-color: #f5c6cb;
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.pd-form-help-icon {
	font-size: 75%;
	margin-top: 5px;
}