.pdsplitter {
	width: 100%;
	height: 100%;
	display: flex;
}

.pdsplitter.horizontal {
	flex-direction: row;
}

.pdsplitter.vertical {
	flex-direction: column;
}

.gutter {
	background-color: #eee;
}

.gutter-vertical {
	cursor: row-resize;
}

.gutter-horizontal {
	cursor: col-resize;
}

.pdsplitpanel {
	height: 100%;
	overflow: auto;
}