.pd-timeline {
	overflow-x: auto;
	border: 1px solid silver;
	line-height: normal;
}

.tl-pan {
	border-top: 1px solid silver;
	height: 20px;
	width: 100%;
}

.tl-plot-area {
	height: 150px;
	width: 100%;
}

.tl-x-axis {
	font-size: 10px;
	height: 20px;
	width: 100%;
	text {
		user-select: none;
	}
}
