.pdtoolbar {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	display: flex;
}

.pdtoolbaritem {
	padding: 5px;
}

.pdtoolbaritem:first-child {
	padding-left: 0px;
}

.pdtoolbaritem:last-child {
	padding-right: 0px;
}

.pdtoolbaritem.align-right {
	margin-left: auto;
}

.pdtoolbarbutton {
	white-space: nowrap;
}

.pdtoolbarseparator {
	display: flex;
	align-items: center;
	height: 100%;

	.pdts-bar {
		height: 80%;
		border-left: 2px solid #ddd;
	}
}

.pdtoolbarplaceholder {
	display: flex;
	align-items: center;
}

.pdtoolbartextbox {
	display: flex;
	align-items: center;

	label {
		white-space: nowrap;
		padding: 0.5rem 0.5rem 0 0;
	}
}

.pdttb-clear-btn {
	position: relative;
	left: -20px;
	cursor: pointer;
}

.pddropdownmenuitem {
	background-color: #fff;
	padding: .25rem .50rem;
	cursor: pointer;
}

.pddropdownmenuitem.disabled {
	color: #6c757d;
	pointer-events: none;
	background-color: #fff;
}

.pddropdownmenuitem.disabled:hover {
	background-color: #fff;
}

.pddropdownmenuitem:hover {
	background-color: #eee;
}

.pddropdownseparator {
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.125);
	border-left: 1px solid rgba(0,0,0,.125);
	border-right: 1px solid rgba(0,0,0,.125);
}