.pd-timeline {
	border: 1px solid silver;
	display: inline-grid;
	overflow-x: auto;
	width: 100%;
}

.pd-timeline svg.disabled {
	background-color: #d3d3d3;
	filter: grayscale(1);
}

.tl-pan {
	border-top: 1px solid silver;
	height: 20px;
	width: 100%;
}

.tl-plot-area {
	height: 150px;
	width: 100%;
}

.tl-selection-handle {
	cursor: col-resize;
}

.tl-x-axis {
	font-size: 10px;
	height: 20px;
	width: 100%;
	text {
		user-select: none;
	}
}

svg .rotate {
	animation: rotate 1.5s linear infinite;
	transform-box: fill-box;
	transform-origin: center;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
