.blockoverlay_show {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  z-index: 2000;
  /* in font of modal dialogs (1050)*/
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0px;
  top: 0px;
  text-align: center;
  cursor: wait; }
  .blockoverlay_show .text-container {
    position: relative;
    top: 25%; }
    .blockoverlay_show .text-container .text-box {
      width: 600px;
      margin: auto;
      border-style: solid;
      border-width: 1px;
      border-color: black;
      border-radius: 5px;
      background-color: #888;
      padding-top: 13px;
      padding-bottom: 10px;
      color: white; }

.blockoverlay_hide {
  display: none; }

.pdtable {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  height: 100%;
  width: 100%; }

.pdtablerow.selected {
  background-color: #007bff; }

.pdtable:focus {
  outline: none; }

.pdtable_edit {
  width: 100%; }

.pdtree {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  height: 100%;
  width: 100%; }

.pdtree_lines {
  border-left: 1px dashed grey;
  padding-left: 0px !important; }

.pdtreenode {
  padding-left: 1.0rem; }
  .pdtreenode .selected {
    background-color: #007bff; }
  .pdtreenode .pdtreenode_header {
    display: flex;
    align-items: baseline;
    white-space: nowrap; }
    .pdtreenode .pdtreenode_header .pdtreenode_content {
      width: 100%;
      padding-left: 3px;
      margin-left: 3px; }
  .pdtreenode .pdtreenode_child_content {
    margin-left: 6px;
    padding-left: 1px; }

.pdtree > .pdtreenode {
  padding-left: 0rem; }

.pdtreenode_edit {
  width: 100%; }

.pdtree:focus {
  outline: none; }

.pdsplitter {
  width: 100%;
  height: 100%;
  display: flex; }

.pdsplitter.horizontal {
  flex-direction: row; }

.pdsplitter.vertical {
  flex-direction: column; }

.gutter {
  background-color: #eee; }

.gutter-vertical {
  cursor: row-resize; }

.gutter-horizontal {
  cursor: col-resize; }

.pdsplitpanel {
  height: 100%;
  overflow: auto; }

.pdfileexplorer {
  height: calc(100% - 56px); }

.pdfileexplorer .table td, .pdfileexplorer .table th {
  padding: .25rem; }

.pdfileexplorer .file-hidden, .pdfileexplorer .file-system {
  color: #ccc; }

.pdfileexplorer .uploading {
  color: #666;
  font-style: italic; }

.upload-progress-bar {
  height: 5px;
  background-color: #007bff; }

.upload-zone {
  border: 4px dashed darkgray;
  border-radius: 5px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray; }

.pddropzone.highlight .upload-zone {
  border-color: #1c7333;
  background-color: #b9e0b7; }

#file-select {
  display: block; }

.pdfilemodalexplorer {
  height: 400px; }
  .pdfilemodalexplorer .pdfileexplorer {
    height: 100%; }

.pdcontextmenuhost {
  height: 100%; }

.pdcontextmenu {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  width: fit-content;
  flex-direction: column;
  display: none; }

.pdcontextmenu.show {
  display: flex; }

.pdcontextmenuitem {
  background-color: #fff;
  padding: .25rem .50rem;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer; }

.pdcontextmenuitem.disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff; }

.pdcontextmenu.disabled:hover {
  background-color: #fff; }

.pdcontextmenuitem:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem; }

.pdcontextmenuitem:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem; }

.pdcontextmenuitem:hover {
  background-color: #eee; }

.pdcontextmenuseparator {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125); }

.pddropzone {
  height: 100%; }

.pddropzone.highlight {
  background-color: #e8ffe8; }

/*.pddropzone input[type=file] {
	position: absolute;*/
/*	width: 100%;
	height: 100%;
	opacity: 100%;
*/
/*display: none;
	cursor: pointer;
}*/
.pdtoolbar {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  display: flex; }

.pdtoolbaritem {
  padding: 5px; }

.pdtoolbaritem:first-child {
  padding-left: 0px; }

.pdtoolbaritem:last-child {
  padding-right: 0px; }

.pdtoolbaritem.align-right {
  margin-left: auto; }

.pdtoolbarbutton {
  white-space: nowrap; }

.pdtoolbarseparator {
  display: flex;
  align-items: center;
  height: 100%; }
  .pdtoolbarseparator .pdts-bar {
    height: 80%;
    border-left: 2px solid #ddd; }

.pdtoolbarplaceholder {
  display: flex;
  align-items: center; }

.pdtoolbartextbox {
  display: flex;
  align-items: center; }
  .pdtoolbartextbox label {
    white-space: nowrap;
    padding: 0.5rem 0.5rem 0 0; }

.pdttb-clear-btn {
  position: relative;
  left: -20px;
  cursor: pointer; }

.pddropdownmenuitem {
  background-color: #fff;
  padding: .25rem .50rem;
  cursor: pointer; }

.pddropdownmenuitem.disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff; }

.pddropdownmenuitem.disabled:hover {
  background-color: #fff; }

.pddropdownmenuitem:hover {
  background-color: #eee; }

.pddropdownseparator {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125); }

.disabled {
  opacity: 1;
  background-color: #e9ecef; }

.pd-form-header {
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%; }

.pd-form-body {
  width: 100%; }
  .pd-form-body .form-control:disabled,
  .pd-form-body .form-control.disabled {
    background-color: #f9f9f9;
    color: #999; }

.pd-form-footer {
  width: 100%; }

.pd-form-field > .input-group > .form-control.invalid {
  border-color: #f5c6cb; }

.pd-form-field > .input-group > .form-control.invalid:focus {
  border-color: #f5c6cb;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }

.pd-form-help-icon {
  font-size: 75%;
  margin-top: 5px; }

.pdtextbox-clear-btn {
  position: relative;
  left: -20px;
  cursor: pointer; }

.pdseparator.dragover {
  background-color: silver !important; }

.fa-hidden {
  color: transparent; }

.pd-pointer {
  cursor: pointer; }

.pd-hidden {
  display: none; }

.pd-empty-icon {
  height: 16px;
  width: 16px; }

.w-100-pct {
  width: 100%; }

.w-100-px {
  width: 100px; }

.w-150-px {
  width: 150px; }

.w-200-px {
  width: 200px; }

.mw-100-px {
  min-width: 100px; }

.mw-150-px {
  min-width: 150px; }

.mw-200-px {
  min-width: 200px; }
