.fa-hidden {
  color: transparent;
}

.pd-pointer {
  cursor: pointer;
}

.pd-hidden {
  display: none;
}

.pd-empty-icon {
  height: 16px;
  width: 16px;
}

.h-100-pct {
  height: 100%;
}

.w-100-pct {
  width: 100%;
}

.w-100-px {
  width: 100px;
}

.w-125-px {
  width: 125px;
}

.w-150-px {
  width: 150px;
}

.w-200-px {
  width: 200px;
}

.mw-100-px {
  min-width: 100px;
}

.mw-125-px {
  min-width: 125px;
}

.mw-150-px {
  min-width: 150px;
}

.mw-200-px {
  min-width: 200px;
}

.text-small {
  font-size: 0.75rem;
}

.text-tiny {
  font-size: 0.5rem;
}

.disabled {
  background-color: #e9ecef;
  color: silver;
  filter: grayscale(1);
  opacity: 1;
}

.pd-form-header {
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
}

.pd-form-body {
  width: 100%;
}
.pd-form-body .form-control:disabled,
.pd-form-body .form-control.disabled {
  background-color: #f9f9f9;
  color: #999;
}

.pd-form-footer {
  width: 100%;
}

.pd-form-field > .input-group > .form-control.invalid {
  border-color: #f5c6cb;
}

.pd-form-field > .input-group > .form-control.invalid:focus {
  border-color: #f5c6cb;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.pd-form-help-icon {
  font-size: 75%;
  margin-top: 5px;
}

.pdtextbox-clear-btn {
  position: relative;
  left: -20px;
  cursor: pointer;
}

.pd-timeline {
  border: 1px solid silver;
  display: inline-grid;
  font-family: "Courier, inherit";
  overflow-x: auto;
  user-select: none;
  width: 100%;
}

.pd-timeline.disabled {
  background-color: #d3d3d3;
  filter: grayscale(1);
}

.pd-timeline svg.disabled {
  background-color: #d3d3d3;
  filter: grayscale(1);
}

.pd-timeline-toolbar {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  justify-content: flex-end;
  user-select: none;
  width: 100%;
}
.pd-timeline-toolbar .scale-label {
  min-width: 60px;
  text-align: center;
}

.range-bar, .selection-bar {
  border-left: 1px solid silver;
  padding-left: 0.5rem;
}

.tl-ind-l, .tl-ind-r {
  cursor: pointer;
}

.tl-pan {
  border-top: 1px solid silver;
  cursor: ew-resize;
  height: 20px;
  width: 100%;
}

.tl-plot-area {
  height: 150px;
  width: 100%;
}

.tl-selection-handle {
  cursor: col-resize;
}

.tl-x-axis {
  font-size: 10px;
  height: 20px;
  width: 100%;
}
.tl-x-axis text {
  user-select: none;
}

.tl-x-axis .minor-tick {
  font-size: 8px;
}

svg .rotate {
  animation: rotate 1.5s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pdtoolbar {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  display: flex;
}

.pdtoolbaritem {
  padding: 5px;
}

.pdtoolbaritem:first-child {
  padding-left: 0px;
}

.pdtoolbaritem:last-child {
  padding-right: 0px;
}

.pdtoolbaritem.align-right {
  margin-left: auto;
}

.pdtoolbarbutton {
  white-space: nowrap;
}

.pdtoolbarseparator {
  display: flex;
  align-items: center;
  height: 100%;
}
.pdtoolbarseparator .pdts-bar {
  height: 80%;
  border-left: 2px solid #ddd;
}

.pdtoolbarplaceholder {
  display: flex;
  align-items: center;
}

.pdtoolbartextbox {
  display: flex;
  align-items: center;
}
.pdtoolbartextbox label {
  white-space: nowrap;
  padding: 0 0.5rem 0 0;
  margin-bottom: 0px;
}
.pdtoolbartextbox .input-group {
  flex-wrap: nowrap;
}

.pdttb-clear-btn {
  position: relative;
  left: -20px;
  cursor: pointer;
}

.pddropdownmenuitem {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.pddropdownmenuitem.disabled {
  color: #6c757d;
  pointer-events: none;
}

.pddropdownmenuitem:hover {
  background-color: #eee;
}

.pddropdownseparator {
  border-bottom: 1px solid #ddd;
}

.pdtree {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  height: 100%;
  width: 100%;
}

.pdtree_lines {
  border-left: 1px dashed grey;
  padding-left: 0px !important;
}

.pdtreenode {
  padding-left: 1rem;
}
.pdtreenode .selected {
  background-color: #007bff;
}
.pdtreenode .pdtreenode_header {
  display: flex;
  align-items: baseline;
  white-space: nowrap;
}
.pdtreenode .pdtreenode_header .pdtreenode_content {
  width: 100%;
  padding-left: 3px;
  margin-left: 3px;
}
.pdtreenode .pdtreenode_child_content {
  margin-left: 6px;
  padding-left: 1px;
}

.pdtree > .pdtreenode {
  padding-left: 0rem;
}

.pdtreenode_edit {
  width: 100%;
}

.pdtree:focus {
  outline: none;
}

.pd-zoombar {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}
