@page "/"

<div>

	<div>
		<div class="d-flex align-items-center">
			<h2>PanoramicData.Blazor</h2>
			<span class="pl-2 text-muted">(version @(PanoramicData.Blazor.Version.AssemblyFileVersion))</span>
		</div>
		<h1 class="display-4">UI components for Blazor</h1>
		<p>We needed the following Blazor UI components for several projects, including the upcoming v3.0 of <a href="https://reportmagic.net/">ReportMagic</a></p>
		<ul>
			<li>Block Overlay</li>
			<li>Table</li>
			<li>Pager</li>
			<li>Tree</li>
			<li>Splitter</li>
			<li>File Explorer</li>
			<li>Context Menu</li>
			<li>Toolbar</li>
			<li>Form</li>
			<li>File Modal</li>
		</ul>
		<p>Rather than buying them in, we made our own, Open Sourced them on <a href="https://github.com/panoramicdata/PanoramicData.Blazor">GitHub</a> and made them free (both speech and beer).</p>
		<p>More will follow, as we need them.</p>
		<h2>Getting Started</h2>
		<p>To get started please read the <a href="/installation">Installation</a> guide and then review the demo pages for each Component you are interested in using.</p>
	</div>

	<div class="card links-box">

		<div class="card-body">

			<h5 class="card-title">Links</h5>

			<table>
				<tr>
					<td>
						<a class="card-link p-2" href="https://www.panoramicdata.com/" title="Open PanoramicData.Blazor web-site" target="_blank">
							<img src="_content/PanoramicData.Blazor.Demo/png/pd-icon.png" height="32" />
						</a>
					</td>
					<td>
						<a class="card-link" href="https://www.panoramicdata.com/" title="Open PanoramicData.Blazor web-site" target="_blank">
							<span>PanoramicData</span>
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a class="card-link" href="https://www.nuget.org/packages/PanoramicData.Blazor/" title="Open PanoramicData.Blazor NuGet package" target="_blank">
							<img src="_content/PanoramicData.Blazor.Demo/svg/NuGet-Logo.svg" height="50" />
						</a>

					</td>
					<td>
						<a class="card-link" href="https://www.nuget.org/packages/PanoramicData.Blazor/" title="Open PanoramicData.Blazor NuGet package" target="_blank">
							<span>NuGet Package</span>
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a class="p-2 card-link" href="https://github.com/panoramicdata/PanoramicData.Blazor" title="Open PanoramicData.Blazor GitHuib project" target="_blank">
							<img src="_content/PanoramicData.Blazor.Demo/png/GitHub-Mark-32px.png" height="30" />
						</a>
					</td>
					<td>
						<a class="card-link" href="https://github.com/panoramicdata/PanoramicData.Blazor" title="Open PanoramicData.Blazor GitHuib project" target="_blank">
							<span>GitHub Project</span>
						</a>
					</td>
				</tr>
			</table>

		</div>

	</div>

</div>
