@using PanoramicData.Blazor.Demo.Components

@page "/mixingdesk"

<div class="mixing-desk">
	<AudioChannel Name="Mic 1" FaderValue="1" />
	<AudioChannel Name="Mic 2" />
	<AudioChannel Name="Mic 3" />
	<AudioChannel Name="Mic 4" />
	<AudioChannel Name="Line 1" />
	<AudioChannel Name="Line 2" />
	<AudioChannel Name="CD 1" />
	<AudioChannel Name="CD 2" />
	<AudioChannel Name="Phono 1" />
	<AudioChannel Name="Phono 2" />
</div>