@page "/pdblockoverlay"

<h1>BlockOverlay</h1>

<h2>Examples</h2>

<p>
	<button class="btn btn-primary" @onclick="@ShowFor1SecondAsync">Show a blank BlockOverlay for 1 second</button>
</p>

<p>
	<button class="btn btn-primary" @onclick="@ShowFor3SecondsAsync">Show BlockOverlay with HTML for 3 seconds</button>
</p>