@page "/pdcarddeck"

<DemoSourceView SourceFiles="Pages/PDCardDeckPage.razor, Pages/PDCardDeckPage.razor.cs">

	<div>
		<p>Example 1: Basic Card Deck</p>
	</div>

	<PDCardDeck @ref="_cardDeck1"
				DataProvider="_todoList1"
				OnRearrange="(e) => OnRearrange(e, _cardDeck1)"
				OnSelect="(e) => OnSelect(e, _cardDeck1)" />

	<hr />

	<div>
		<p>Example 2: Multiple Select</p>
	</div>

	<PDCardDeck @ref="_cardDeck2"
				DataProvider="_todoList2"
				MultipleSelection="true"
				OnRearrange="(e) => OnRearrange(e, _cardDeck2)"
				OnSelect="(e) => OnSelect(e, _cardDeck2)" />

	<hr />

	<div>
		<p>Example 3: Disabled Card Deck</p>
	</div>

	<PDCardDeck @ref="_cardDeck3"
				DataProvider="_todoList3"
				IsEnabled="false"
				CardCss="@(card => $"pdcard pdcard-{card.Priority.ToString().ToLowerInvariant()}")"
				OnRearrange="(e) => OnRearrange(e, _cardDeck3)"
				OnSelect="(e) => OnSelect(e, _cardDeck3)">

		<CardTemplate>
			<ExampleTicket Ticket="context" />
		</CardTemplate>
	</PDCardDeck>

	<EventView />

</DemoSourceView>