@page "/pdcarddeck"

<DemoSourceView SourceFiles="Pages/PDCardDeckPage.razor, Pages/PDCardDeckPage.razor.cs">

    <div>
        <p>Example 1: Basic Card Deck</p>
    </div>

    <PDCardDeck DataProvider="_todoList1" />

    <hr />

    <div>
        <p>Example 2: Multiple Select</p>
    </div>

    <PDCardDeck DataProvider="_todoList2"
        MultipleSelection="true" />

    <hr />

    <div>
        <p>Example 3: Disabled Card Deck</p>
    </div>

    <PDCardDeck DataProvider="_todoList3"
        IsEnabled="false" />

    <EventView />

</DemoSourceView>