@page "/pdcarddeck"

<DemoSourceView SourceFiles="Pages/PDCardDeckPage.razor, Pages/PDCardDeckPage.razor.cs">

    <div>
        <p>Example 1: Basic Card Deck</p>
    </div>

    <PDCardDeck Items="_todoList1" />

    <hr />

    <div>
        <p>Example 2: Multiple Select</p>
    </div>

    <PDCardDeck Items="_todoList2"
        MultipleSelection="true">
        <CardTemplate Context="todo">
            <span ondragover="event.preventDefault();">@todo.Title</span>
        </CardTemplate>
    </PDCardDeck>

    <hr />

    <div>
        <p>Example 3: Disabled Card Deck</p>
    </div>

    <PDCardDeck Items="_todoList3" IsEnabled="false">
        <CardTemplate Context="todo">
            <span>@todo.Title</span>
        </CardTemplate>
    </PDCardDeck>


    @*<EventView />*@

</DemoSourceView>