@page "/pdcarddeckgroup"

<DemoSourceView SourceFiles="Pages/PDCardDeckGroupPage.razor, Pages/PDCardDeckGroupPage.razor.cs">

	<div>
		<p>Example 1: Kanban style board</p>
	</div>

	<PDCardDeckGroup />

	<EventView />

</DemoSourceView>