@page "/pdcontextmenu"

<h1>PDContextMenu</h1>
<p class="text-muted">The PDContextMenu component requires inclusion of the <a href="https://popper.js.org/">popper.js</a> library (see source code for _Host.cshtml for example).</p>

<DemoSourceView SourceFiles="Pages/PDContextMenuPage.razor, Pages/PDContextMenuPage.razor.cs">

	<PDToolbar>

		<PDToolbarPlaceholder>
			<span>Right click anywhere in rectangle to show context menu</span>
		</PDToolbarPlaceholder>

		<PDToolbarButton Text="@(Enabled ? "Disable Menu" : "Enable Menu")"
						 ShiftRight="true"
						 CssClass="btn-secondary"
						 Click="OnClick" />

		<PDToolbarButton Text="@($"Show on 'Mouse {(_showOnMouseUp ? "Up" : "Down")}' event'")"
						 CssClass="btn-secondary"
						 Click="@(() => _showOnMouseUp = !_showOnMouseUp)" />

	</PDToolbar>


	<PDContextMenu Items="_items"
				   Enabled="Enabled"
				   ShowOnMouseUp="_showOnMouseUp"
				   UpdateState="OnUpdateState"
				   ItemClick="OnItemClick">

		<div class="demo-context-area"
			 @oncontextmenu:preventDefault
			 @oncontextmenu="() => { }">
		</div>

	</PDContextMenu>

	<EventView />

</DemoSourceView>
