@page "/pddatetime"

<h1>PDDateTime</h1>

<DemoSourceView SourceFiles="Pages/PDDateTimePage.razor, Pages/PDDateTimePage.razor.cs">

	<PDToolbar>

    </PDToolbar>

    <PDDateTime Value="_value1"
                ValueChanged="OnValue1Changed" />

	<EventView />

</DemoSourceView>