@page "/pddashboard"

<h1>PDDashboard</h1>

<DemoSourceView SourceFiles="Pages/PDDashboardPage.razor, Pages/PDDashboardPage.razor.cs">
	<DocumentationContent>
		<PDDashboardDocumentation />
	</DocumentationContent>
	<ChildContent>

		<div class="mb-3 d-flex gap-2 align-items-center flex-wrap">
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="editMode" @bind="_isEditable" />
				<label class="form-check-label" for="editMode">Edit Mode</label>
			</div>
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="displayMode" @bind="_displayMode" />
				<label class="form-check-label" for="displayMode">Display Mode</label>
			</div>
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="showMaximize" @bind="_showMaximize" />
				<label class="form-check-label" for="showMaximize">Dashboard ShowMaximize</label>
			</div>
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="clockShowMaximize" @bind="_clockShowMaximize" />
				<label class="form-check-label" for="clockShowMaximize">Clock Tile ShowMaximize (override)</label>
			</div>
		</div>

		<div style="height: 600px; border: 1px solid var(--bs-border-color); border-radius: 0.375rem; overflow: hidden;">
			<PDDashboard @ref="_dashboard"
						 Tabs="_tabs"
						 ColumnCount="4"
						 TileRowHeightPx="140"
						 IsEditable="_isEditable"
						 DisplayMode="_displayMode"
						 ShowMaximize="_showMaximize"
						 OnTileMove="OnTileMoved"
						 OnTileResize="OnTileResized"
						 OnTileAdd="OnTileAddRequested"
						 OnTileDelete="OnTileDeleted"
						 OnTabAdd="OnTabAdded"
						 ActiveTabChanged="OnActiveTabChanged"
						 OnEditModeChanged="OnEditModeChanged"
						 OnSettingsChanged="OnSettingsChanged" />
		</div>

		<EventView />

	</ChildContent>
</DemoSourceView>
