@page "/pddropdown"

<h1>PDDropDown</h1>

<DemoSourceView SourceFiles="Pages/PDDropDownPage.razor, Pages/PDDropDownPage.razor.cs">

	<PDDropDown Text="Click Me">
		<div>
			<ul>
				<li>
					<PDLabel IconCssClass="fas fa-fw fa-dice-one"
							 Text="One" />
				</li>
				<li>
					<PDLabel IconCssClass="fas fa-fw fa-dice-two"
							 Text="Two" />
				</li>
				<li>
					<PDLabel IconCssClass="fas fa-fw fa-dice-three"
							 Text="Three" />
				</li>
				<li>
					<PDLabel IconCssClass="fas fa-fw fa-dice-four"
							 Text="Four" />
				</li>
				<li>
					<PDLabel IconCssClass="fas fa-fw fa-dice-five"
							 Text="Five" />
				</li>
				<li>
					<PDLabel IconCssClass="fas fa-fw fa-dice-six"
							 Text="Six" />
				</li>
			</ul>
		</div>
	</PDDropDown>

	<EventView />

</DemoSourceView>