@page "/pddragpanel"
@using PanoramicData.Blazor.Services;

<h1>PDDragPanel</h1>

<DemoSourceView SourceFiles="Pages/PDDragPanelPage.razor, Pages/PDDragPanelPage.razor.cs">

    <div>

        <h2>Re-orderable List</h2>

        <PDDragContainer TItem="Job"
                         Items="_jobs">

            <PDDragPanel TItem="Job"
                ItemOrderChanged="OnItemOrderChanged">

                <Template Context="job">

                    <EditForm Model="@job">
                        <InputCheckbox @bind-Value="job.Selected" />
                        <span>@job.Description</span>
                    </EditForm>

                </Template>

            </PDDragPanel>

        </PDDragContainer>

    </div>

    <EventView />

</DemoSourceView>