@page "/pdfileexplorer"

<h1>PDFileExplorer</h1>
<p class="text-muted">The PDFileExplorer component requires inclusion of the <a href="https://www.dropzonejs.com/">dropzone.js</a>, <a href="https://popper.js.org/">popper.js</a> and <a href="https://split.js.org/">split.js</a> libraries (see source code for _Host.cshtml for example).</p>

<DemoSourceView SourceFiles="Pages/PDFileExplorerPage.razor, Pages/PDFileExplorerPage.razor.cs, Data/TestFileSystemDataProvider.cs">

	<!-- PDSplitter works better when its parent element has a known size -->
	<div style="height: calc(100vh - 286px)">

		<PDDragContext>
			<PDFileExplorer @ref="FileExplorer"
                            AllowRenameConflicts="true"
							AutoExpand="true"
							ButtonSize="ButtonSizes.Small"
							DataProvider=" _dataProvider"
                            DownloadUrlFunc="GetDownloadUrl"
							FolderChanged="OnFolderChanged"
							GetItemCssClass="GetCssClass"
							GetItemIconCssClass="GetIconCssClass"
							UpdateTableContextState="OnUpdateTableContextMenuState"
							UpdateToolbarState="OnUpdateToolbarState"
							Ready="OnReady"
                            RightClickSelectsItem="false"
							ShowNavigateUpButton="false"
							ShowUploadProgressDialog="true"
							TableContextMenuClick="OnTableContextMenuClick"
							TableDownloadRequest="OnTableDownloadRequest"
							ToolbarClick="OnToolbarClick"
							TreeSort="OnTreeSort"
							UploadUrl="@(NavigationManager.ToAbsoluteUri("/files/Upload").ToString())"
							UploadMaxSize="256"
							UploadTimeout="60"
							UploadRequest="OnUploadRequest"
							UploadStarted="OnUploadStarted"
							UploadCompleted="OnUploadCompleted">
			</PDFileExplorer>
		</PDDragContext>

	</div>

</DemoSourceView>