@page "/pdfilemodals"

<DemoSourceView SourceFiles="Pages/PDFileModalsPage.razor, Pages/PDFileModalsPage.razor.cs">

	<PDToolbar>

		<PDToolbarButton Text="Select any file"
						 CssClass="btn-primary"
						 ToolTip="Allow the user to pick any file"
						 Click="ShowFileOpenModal" />

		<PDToolbarButton Text="Select DOCX or XLSX file"
						 CssClass="btn-secondary"
						 ToolTip="Allow the user to pick only DOCX and XLSX files"
						 Click="ShowFileOpenFilteredModal" />

		<PDToolbarButton Text="Select any folder"
						 CssClass="btn-secondary"
						 ToolTip="Allow the user to pick only folders"
						 Click="ShowFolderOpenModal" />

		<PDToolbarButton Text="Select Save As filename"
						 CssClass="btn-secondary"
						 ToolTip="Allow the user to pick any filename to save as"
						 Click="ShowFileSaveAsModal" />

	</PDToolbar>

	<PDFileModal @ref="_fileModal"
				 DataProvider="_dataProvider"
				 OpenButtonText="Select"
				 OpenTitle="Report Picker"
				 SaveTitle="Save Report As" />

	<div>
		<span>Open Result: @_openResult</span>
	</div>

	<div>
		<span>Save As Result: @_saveAsResult</span>
	</div>

</DemoSourceView>