@page "/pdfilemodals"

<DemoSourceView SourceFiles="Pages/PDFileModalsPage.razor, Pages/PDFileModalsPage.razor.cs">

	<PDToolbar>

		<PDToolbarButton Text="File Open Modal"
						 CssClass="btn-primary"
						 Click="ShowFileOpenModal" />

		<PDToolbarButton Text="Folder Open Modal"
						 CssClass="btn-primary"
						 Click="ShowFolderOpenModal" />

		<PDToolbarButton Text="File SaveAs Modal"
						 CssClass="btn-secondary"
						 Click="ShowFileSaveAsModal" />

	</PDToolbar>

	<PDFileModal @ref="_fileModal"
				 DataProvider="_dataProvider"
				 OpenButtonText="Select"
				 OpenTitle="Report Picker"
				 SaveTitle="Save Report As" />

	<div>
		<span>Open Result: @_openResult</span>
	</div>

	<div>
		<span>Save As Result: @_saveAsResult</span>
	</div>

</DemoSourceView>