@page "/pdfilemodals"

<DemoSourceView SourceFiles="PDFileModalsPage.razor, PDFileModalsPage.razor.cs">

	<PDToolbar>

		<PDToolbarButton Text="File Open Modal"
						 CssClass="btn-primary"
						 Click="ShowFileOpenModal" />

		<PDToolbarButton Text="File SaveAs Modal"
						 CssClass="btn-secondary"
						 IsVisible="false"
						 Click="ShowFileSaveAsModal" />

	</PDToolbar>

	<PDFileModal @ref="_fileOpenModal"
				 DataProvider="_dataProvider"
				 OpenButtonText="Select"
				 OpenTitle="Report Picker" />


	<PDFileModal @ref="_fileSaveAsModal"
				 DataProvider="_dataProvider"
				 Size="ModalSizes.ExtraLarge"
				 OpenButtonText="Save"
				 OpenTitle="Save Report As" />

	<div>
		<span>Open Result: @_openResult</span>
	</div>

</DemoSourceView>