@page "/pdgloballistener"

<h1>PDKeyListener</h1>

<PDGlobalListener />

<DemoSourceView SourceFiles="Pages/PDGlobalListenerPage.razor, Pages/PDGlobalListenerPage.razor.cs">

	@*<PDToolbar>

			<PDToolbarTextbox @bind-Value="GoToPage" />
			<PDToolbarButton Text="Goto Page"
							 Click="OnGotoPage" />

			<PDToolbarTextbox @bind-Value="TotalCount" />
			<PDToolbarButton Text="Set Total Count"
							 Click="OnSetTotalCount" />

		</PDToolbar>*@

	<EventView />

</DemoSourceView>