@page "/pdgloballistener"

<h1>PDGlobalListener</h1>

<PDGlobalListener />

<DemoSourceView SourceFiles="Pages/PDGlobalListenerPage.razor, Pages/PDGlobalListenerPage.razor.cs">

	<EventView />

</DemoSourceView>