<div class="pd-mixingdesk-documentation">
	<section id="overview">
		<h2 class="doc-section">Overview</h2>
		<p><code>PDMixingDesk</code> is a complete audio mixing console with multiple channels.</p>
	</section>
	<section id="parameters">
		<h2 class="doc-section">Parameters</h2>
		<table class="table table-sm doc-props-table">
			<thead><tr><th>Parameter</th><th>Type</th><th>Description</th></tr></thead>
			<tbody>
				<tr><td><code>Channels</code></td><td><code>int</code></td><td>Number of mixer channels</td></tr>
				<tr><td><code>MasterVolume</code></td><td><code>double</code></td><td>Master output volume</td></tr>
			</tbody>
		</table>
	</section>
</div>
