@page "/pdpager"

<h1>PDPager</h1>

<DemoSourceView SourceFiles="Pages/PDPagerPage.razor, Pages/PDPagerPage.razor.cs">

	<PDToolbar>

		<PDToolbarTextbox @bind-Value="GoToPage" />
		<PDToolbarButton Text="Goto Page"
						 Click="OnGotoPage" />

		<PDToolbarTextbox @bind-Value="TotalCount" />
		<PDToolbarButton Text="Set Total Count"
						 Click="OnSetTotalCount" />

	</PDToolbar>

	<PDPager PageCriteria="_pageCriteria" />

	<EventView />

</DemoSourceView>