@page "/pdpager"

<h1>PDPager</h1>

<DemoSourceView SourceFiles="PDPagerPage.razor, PDPagerPage.razor.cs">

	<PDToolbar>

		<PDToolbarTextbox @bind-Value="GoToPage" />
		<PDToolbarButton Text="Goto Page"
						 Click="OnGotoPage" />

		<PDToolbarTextbox @bind-Value="NewPageCount" />
		<PDToolbarButton Text="Set Page Count"
						 Click="OnSetPageCount" />

	</PDToolbar>

	<PDPager @ref="_pager"
			 Page="1"
			 PageCount="10"
			 PageChange="OnPageChanged" />

	<EventView />

</DemoSourceView>