@page "/pdpager"

<h1>PDPager</h1>

<DemoSourceView SourceFiles="PDPagerPage.razor, PDPagerPage.razor.cs">

	<PDToolbar>

		<PDToolbarPlaceholder>
			<span>Current Page</span>
		</PDToolbarPlaceholder>

		<PDToolbarPlaceholder>
			<input type="number" class="form-control" @bind="CurrentPage">
		</PDToolbarPlaceholder>

		<PDToolbarPlaceholder>
			<input type="number" class="form-control" @bind="PageCount">
		</PDToolbarPlaceholder>

	</PDToolbar>

	<PDPager PageCount="@PageCount"
             CurrentPage="@CurrentPage"
             OnPageChange="OnPageChanged" />

	<EventView />

</DemoSourceView>