@page "/pdpager"

<h1>PDPager</h1>

<DemoSourceView SourceFiles="Pages/PDPagerPage.razor, Pages/PDPagerPage.razor.cs">

	<PDToolbar>

		<PDToolbarTextbox InitialValue="@GoToPage" ValueChanged="@((v) => GoToPage = v)" />
		<PDToolbarButton Text="Goto Page"
						 Click="OnGotoPage" />

		<PDToolbarTextbox InitialValue="@TotalCount" ValueChanged="@((v) => TotalCount = v)" />
		<PDToolbarButton Text="Set Total Count"
						 Click="OnSetTotalCount" />

	</PDToolbar>

	<PDPager PageCriteria="_pageCriteria" />

	<EventView />

</DemoSourceView>