@page "/pdquestvisualizer"
@using PanoramicData.Blazor.Services;

<h1>PDQuestVisualizer</h1>

<DemoSourceView SourceFiles="Pages/QuestVisualizerPage.razor, Pages/QuestVisualizerPage.razor.cs">
<DocumentationContent>
<PDQuestVisualizerDocumentation />
</DocumentationContent>
<ChildContent>

   <div>
		<PDQuestVisualizer
			Quests="_quests"
			QuestActions="_questActions"
			/>
    </div>

    <EventView />

	</ChildContent>
</DemoSourceView>