@page "/pdrange"

<h1>PDRange</h1>

<DemoSourceView SourceFiles="Pages/PDRangePage.razor, Pages/PDRangePage.razor.cs, Pages/PDRangePage.razor.css">

	<div>
		<div>
			<EditForm Model="this" class="toolbar">

				<div class="">
					<label class="form-check-label">Enabled</label>
					<InputCheckbox @bind-Value="_isEnabled" />
				</div>

				<div class="">
					<label class="form-check-label">Invert</label>
					<InputCheckbox @bind-Value="_invert" />
				</div>

				<div class="">
					<label class="form-label">Start</label>
					<InputNumber @bind-Value="_range1.Start" step="5" />
				</div>

				<div class="">
					<label class="form-label">End</label>
					<InputNumber @bind-Value="_range1.End" step="5" />
				</div>

			</EditForm>
		</div>

		<PDRange @bind-Range="_range1"
				 IsEnabled="_isEnabled"
				 Invert="_invert"
				 Height="20"
				 Min="0"
				 MinGap="10"
				 Max="100"
				 Step="5"
				 TickMajor="25"
				 TickMajorLabelFn="@((v) => $"{v:00}")"
				 TrackHeight="0.6" />

		<div>
			Range: @($"{_range1?.Start} - {_range1?.End}")
		</div>

		<hr />

		<PDRange @bind-Range="_range2"
				 Height="30"
				 MinGap="1"
				 Max="23"
				 ShowLabels="true"
				 Step="1"
				 TickMajor="4"
				 TickMajorLabelFn="@((v) => $"{v:00}:00")" />

		<div>
			Timer on: @($"{_range2?.Start:00}:00 to {_range2?.End:00}:00")
		</div>

	</div>

	<EventView />

</DemoSourceView>
