@page "/pdtoggleswitch"

<DemoSourceView SourceFiles="Pages/PDToggleSwitchPage.razor, Pages/PDToggleSwitchPage.razor.cs">

    <div>
        <p>Example 1: Display a basic toggle switch</p>
        <PDToggleSwitch @bind-Value="_toggle1" OnText="" OffText="" Width="40" />
        <p class="mt-3">Value: @_toggle1</p>
    </div>

    <div>
        <p>Example 2: Display rounded, coloured toggle switches</p>
        <div>
            <PDToggleSwitch CssClass="me-2" BorderColour="red" Rounded="true" />
            <PDToggleSwitch CssClass="me-2" BorderColour="chocolate" Rounded="true" />
            <PDToggleSwitch CssClass="me-2" BorderColour="goldenrod" Rounded="true" />
            <PDToggleSwitch CssClass="me-2" BorderColour="limegreen" Rounded="true" />
            <PDToggleSwitch CssClass="me-2" BorderColour="steelblue" Rounded="true" />
            <PDToggleSwitch CssClass="me-2" BorderColour="purple" Rounded="true" />
            <PDToggleSwitch CssClass="me-2" BorderColour="black" Rounded="true" />
        </div>
    </div>

</DemoSourceView>