@page "/pdtextbox"

<h1>PDTextBoxPage</h1>

<DemoSourceView SourceFiles="Pages/PDTextBoxPage.razor, Pages/PDTextBoxPage.razor.cs">

	<PDToolbar>

		<PDToolbarButton Text="@(Enabled ? "Disable" : "Enable")"
						 Click="() => Enabled = !Enabled"
						 CssClass="btn-primary" />

		<PDToolbarButton Text="@(Visible ? "Hide" : "Show")"
						 Click="() => Visible = !Visible"
						 CssClass="btn-secondary" />

	</PDToolbar>

	<div class="input-group">
		<PDTextBox DebounceWait="250"
				   IsEnabled="Enabled"
				   IsVisible="Visible"
				   Keypress="OnKeypress"
				   KeypressEvent="true"
				   Value="@Value"
				   ValueChanged="OnValueChanged" />

		<p class="mt-2">
			<strong>Note</strong>: Enabling Keypress events and / or Debounce (having DebounceWait > 0) can introduce latency issues when running
			on Blazor Server. This in-turn can lead to typing corruption and will have a negative user experience.
		</p>

	</div>

	<div>
		Value = @Value
	</div>

	<EventView />

</DemoSourceView>