@page "/pdtoolbar"
<h1>PDToolbarPage</h1>

<h3>Declarative example of PDToolbar usage</h3>

<PDToolbar>

	<PDToolbarDropdown Text="File"
					   IconCssClass="fas fa-fw fa-file"
					   TextCssClass="d-none d-sm-none d-md-inline"
					   IsVisible="_showButtons"
					   IsEnabled="_enableButtons"
					   Items="FileMenuItems"
					   Click="OnFileMenuClick" />

	<PDToolbarButton Text="Rename"
					 CssClass="btn-secondary"
					 IconCssClass="fas fa-fw fa-edit"
					 TextCssClass="d-none d-sm-none d-md-inline"
					 Click="OnRename"
					 IsVisible="_showButtons"
					 IsEnabled="_enableButtons" />

	<PDToolbarSeparator IsVisible="_showButtons" />

	<PDToolbarButton Text="Download"
					 CssClass="btn-secondary"
					 IconCssClass="fas fa-fw fa-file-download"
					 TextCssClass="d-none d-sm-none d-md-inline"
					 Click="OnDownload"
					 IsVisible="_showButtons"
					 IsEnabled="_enableButtons" />

	<PDToolbarSeparator IsVisible="_showButtons" />

	<PDToolbarPlaceholder>
		<span>Search</span>
	</PDToolbarPlaceholder>

	<PDToolbarTextbox Width="100%"
					  @bind-Value="_searchText"
					  ShowClearButton="true"
					  Keypress="OnKeypress" />

	<PDToolbarButton Text="@(_enableButtons ? "Disable" : "Enable")"
					 ToolTip="Disable or enable buttons"
					 CssClass="btn-secondary d-none d-sm-none d-md-none d-lg-inline"
					 Click="() => { _enableButtons = !_enableButtons; }"
					 ShiftRight="true" />

	<PDToolbarButton Text="@(_showButtons ? "Hide" : "Show")"
					 ToolTip="Show or hide buttons"
					 CssClass="btn-secondary d-none d-sm-none d-md-none d-lg-inline"
					 Click="() => { _showButtons = !_showButtons; }" />
</PDToolbar>

<div>

	<div>
		Search text = "@_searchText"
	</div>

	<div>
		<div class="form-group p-1">
			<label>Events</label>
			<textarea rows="8" class="form-control">@_events</textarea>
		</div>
	</div>

</div>

<br/>
<hr/>

<h3>Programmatic example of PDToolbar usage</h3>
<PDToolbar Items="ToolbarItems" ButtonClick="OnButtonClick" />
