@page "/pdtoolbar"
<h1>PDToolbarPage</h1>

<DemoSourceView SourceFiles="Pages/PDToolbarPage.razor, Pages/PDToolbarPage.razor.cs">

	<PDToolbar>

		<PDToolbarDropdown Text="File"
						   IconCssClass="fas fa-fw fa-file"
						   TextCssClass="d-none d-sm-none d-md-inline"
						   IsVisible="ShowButtons"
						   IsEnabled="EnableButtons"
						   Items="FileMenuItems"
						   Click="OnFileMenuClick" />

		<PDToolbarButton Key="Rename"
						 Text="Rename"
						 CssClass="btn-secondary"
						 IconCssClass="fas fa-fw fa-edit"
						 TextCssClass="d-none d-sm-none d-md-inline"
						 Click="OnButtonClick"
						 IsVisible="ShowButtons"
						 IsEnabled="EnableButtons" />

		<PDToolbarSeparator IsVisible="ShowButtons" />

		<PDToolbarButton Key="Download"
						 Text="Download"
						 CssClass="btn-secondary"
						 IconCssClass="fas fa-fw fa-file-download"
						 TextCssClass="d-none d-sm-none d-md-inline"
						 Click="OnButtonClick"
						 IsVisible="ShowButtons"
						 IsEnabled="EnableButtons" />

		<PDToolbarSeparator IsVisible="ShowButtons" />

		@*<PDToolbarPlaceholder>
			<span>Search</span>
		</PDToolbarPlaceholder>*@

		<PDToolbarTextbox Width="100%"
						  Value="@_searchText"
						  Label="Search"
						  DebounceWait="250"
						  Placeholder="search text"
						  ShowClearButton="true"
						  ValueChanged="OnValueChanged"
						  Keypress="OnKeypress"
						  Cleared="OnCleared" />

		<PDToolbarButton Text="@(EnableButtons ? "Disable" : "Enable")"
						 ToolTip="Disable or enable buttons"
						 CssClass="btn-secondary d-none d-sm-none d-md-none d-lg-inline"
						 Click="() => { EnableButtons = !EnableButtons; }"
						 ShiftRight="true" />

		<PDToolbarButton Text="@(ShowButtons ? "Hide" : "Show")"
						 ToolTip="Show or hide buttons"
						 CssClass="btn-secondary d-none d-sm-none d-md-none d-lg-inline"
						 Click="() => { ShowButtons = !ShowButtons; }" />
	</PDToolbar>

	<EventView />

</DemoSourceView>