<div class="pd-toolbarcolorpicker-documentation">
	<section id="overview">
		<h2 class="doc-section">Overview</h2>
		<p><code>PDToolbarColorPicker</code> is a color picker button designed for use in toolbars.</p>
	</section>
	<section id="parameters">
		<h2 class="doc-section">Parameters</h2>
		<table class="table table-sm doc-props-table">
			<thead><tr><th>Parameter</th><th>Type</th><th>Description</th></tr></thead>
			<tbody>
				<tr><td><code>Value</code></td><td><code>string</code></td><td>Selected color (hex)</td></tr>
				<tr><td><code>Palette</code></td><td><code>PaletteColor[]</code></td><td>Color palette</td></tr>
			</tbody>
		</table>
	</section>
</div>
