@page "/pdtree2"
@using PanoramicData.Blazor.Demo.Data

<h1>PDTree 2</h1>
<p class="text-muted">Example of Load-on-demand and node Icons.</p>

<DemoSourceView SourceFiles="Pages/PDTreePage2.razor, Pages/PDTreePage2.razor.cs, Data/TestFileSystemDataProvider.cs">

	<!-- note that the IsLeaf parameter is set so as to help identify the leaf nodes,
		 this is not required when all data is loaded up front as it can be inferred -->
	<PDTree DataProvider="_dataProviderOnDemand"
			TItem="FileExplorerItem"
			KeyField="x => x.Path"
			ParentKeyField="x => x.ParentPath"
			TextField="x => x.Name"
			LoadOnDemand="true"
			ShowLines="true"
			IconCssClass="GetNodeIconCssClass"
			IsLeaf="x => x.EntryType == FileExplorerItemType.File">
	</PDTree>

</DemoSourceView>