@page "/pdtree"
@using PanoramicData.Blazor.Demo.Data

<h1>PDTree</h1>

<DemoSourceView SourceFiles="Pages/PDTreePage.razor, Pages/PDTreePage.razor.cs, Data/TestFileSystemDataProvider.cs">

	<PDToolbar>

		<PDToolbarPlaceholder>
			<div>
				<span class="text-muted">Selected Path:</span>
				<br />
				<span><b>@_selectedEntry?.Path</b></span>
			</div>
		</PDToolbarPlaceholder>

        <PDToolbarButton Text="Scroll to Alice's Files"
                         ShiftRight="true"
                         CssClass="btn-secondary"
                         Click="() => ScrollToAlicesFiles()" />

		<PDToolbarButton Text="@(ShowLines ? "Hide Lines" : "Show Lines")"
						 CssClass="btn-secondary"
						 Click="() => ShowLines = !ShowLines" />

		<PDToolbarButton Text="@(ShowRoot ? "Hide Root" : "Show Root")"
						 CssClass="btn-secondary"
						 Click="() => ShowRoot = !ShowRoot" />

		<PDToolbarButton Text="Expand All"
						 CssClass="btn-secondary"
						 Click="() => Tree?.ExpandAll()" />

		<PDToolbarButton Text="Collapse All"
						 CssClass="btn-secondary"
						 Click="() => Tree?.CollapseAll()" />

		<PDToolbarButton Text="Begin Edit"
						 CssClass="btn-secondary"
						 Click="() => { Tree?.BeginEdit(); }" />

		<PDToolbarPlaceholder>
			<label class="me-1">Cancel Selection</label>
			<PDToggleSwitch @bind-Value="_cancelSelection" />
		</PDToolbarPlaceholder>

	</PDToolbar>

	<PDTree @ref="Tree"
			TItem="FileExplorerItem"
			DataProvider="_dataProvider"
			KeyField="x => x.Path"
			ParentKeyField="x => x.ParentPath"
			TextField="x => x.Name"
			AllowSelection="true"
			AllowEdit="true"
			ExceptionHandler="OnException"
			ShowLines="ShowLines"
			ShowRoot="ShowRoot"
			BeforeSelectionChange="OnBeforeSelectionChanged"
			SelectionChange="OnSelectionChanged"
			NodeExpanded="OnNodeExpanded"
			NodeCollapsed="OnNodeCollapsed"
			BeforeEdit="OnBeforeEdit"
			AfterEdit="OnAfterEdit">
		<NodeTemplate>
			@if (context?.Data?.EntryType == FileExplorerItemType.File)
			{
				<i class="far fa-fw fa-file"></i>
				<b>@context?.Data?.Path</b>
			}
			else
			{
				<i class="far fa-fw fa-folder"></i>
				<span>@context?.Data?.Name</span>
			}
		</NodeTemplate>
	</PDTree>

	<EventView />

</DemoSourceView>