@page "/pdtree3"
@using PanoramicData.Blazor.Demo.Data

<h1>PDTree 3</h1>
<p class="text-muted">Example of tree that can be re-ordered by drag and drop.</p>

<DemoSourceView SourceFiles="Pages/PDTreePage3.razor, Pages/PDTreePage3.razor.cs, Data/TreeDataProvider.cs">

	<PDDragContext>

		<!-- note that the IsLeaf parameter is set so as to help identify the leaf nodes,
		 this is not required when all data is loaded up front as it can be inferred -->
		<PDTree @ref="Tree"
				AllowDrag="true"
				AllowDrop="true"
				AllowDropInBetween="true"
				DataProvider="_treeDataProvider"
				Drop="OnDrop"
				IconCssClass="GetIconCssClass"
				KeyField="x => x.Id"
				ParentKeyField="x => x.ParentId"
				Ready="OnReady"
				ShowLines="true"
				ShowRoot="true"
				Sort="(a,b) => a.Order.CompareTo(b.Order)"
				TextField="x => x.Name"
				TItem="TreeItem">
		</PDTree>

	</PDDragContext>

	<EventView />

</DemoSourceView>