@page "/test"
@using PanoramicData.Blazor.Demo.Data
@inject IJSRuntime JSRuntime

<h3>TestPage</h3>


<div id="my-dropzone" class="dropzone" style="min-height: 200px;">




</div>


@code {

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			var options = new { CreateImageThumbnails = false };
			await JSRuntime.InvokeVoidAsync("panoramicDataDemo.initDropzone", "#my-dropzone", options).ConfigureAwait(true);
		}
	}
}
